hospitality-project/backend/n8n-workflows/workflow-c-yield-management.json
{
  "name": "C: Yield Management & Cross-Sell",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "c1000001-0000-0000-0000-000000000001",
      "name": "Cron — Daily 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beds24-booking-confirmed",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "c1000002-0000-0000-0000-000000000002",
      "name": "Webhook — Beds24 Booking Confirmed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        380
      ],
      "webhookId": "REPLACE_WEBHOOK_ID_C"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.trigger }}",
              "operation": "equal",
              "value2": "booking"
            }
          ]
        }
      },
      "id": "c1000003-0000-0000-0000-000000000003",
      "name": "Which Trigger?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        290
      ]
    },
    {
      "parameters": {
        "jsCode": "// Cross-sell: extract guest data from Beds24 booking webhook payload\nconst booking = items[0].json;\nreturn [{\n  json: {\n    bookingId:  booking.bookId   || booking.id || '',\n    guestName:  booking.guestFirstName + ' ' + (booking.guestName || ''),\n    guestEmail: booking.guestEmail || '',\n    checkIn:    booking.firstNight || booking.arrival || '',\n    numAdults:  booking.numAdult || 2,\n    trigger:    'booking'\n  }\n}];"
      },
      "id": "c1000004-0000-0000-0000-000000000004",
      "name": "Extract Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "c1000005-0000-0000-0000-000000000005",
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build cross-sell email with pre-filled restaurant URL\nconst b = items[0].json;\nconst restUrl = `https://porta-dirta.hobbitonranch.com/restaurante?fecha=${b.checkIn}&personas=${b.numAdults}&nombre=${encodeURIComponent(b.guestName)}&email=${encodeURIComponent(b.guestEmail)}`;\nconst expUrl  = 'https://events.hobbitonranch.com';\n\nconst body = `Estimado/a ${b.guestName},\\n\\n`\n  + `Estamos encantados de que hayas elegido Porta D'irta para tu estancia.\\n\\n`\n  + `Para hacer tu visita aún más especial, te invitamos a:\\n\\n`\n  + `🍽️  RESERVAR UNA MESA EN NUESTRO RESTAURANTE\\n`\n  + `Tu mesa para ${b.numAdults} personas está a un clic de distancia:\\n`\n  + `${restUrl}\\n\\n`\n  + `🌿  DESCUBRIR NUESTRAS EXPERIENCIAS LOCALES\\n`\n  + `Sierra de Irta, Kayak, Cata de Vinos y más:\\n`\n  + `${expUrl}\\n\\n`\n  + `Nuestro equipo está disponible para organizar todo por ti.\\n\\n`\n  + `Hasta pronto,\\nEl equipo de Porta D'irta\\n+34 644 026 066`;\n\nreturn [{ json: {\n  toEmail:  b.guestEmail,\n  subject:  `Tu estancia en Porta D'irta — todo listo para ti`,\n  body,\n  bookingId: b.bookingId\n} }];"
      },
      "id": "c1000006-0000-0000-0000-000000000006",
      "name": "Build Cross-Sell Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.BUSINESS_EMAIL }}",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "c1000007-0000-0000-0000-000000000007",
      "name": "Send Cross-Sell Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1380,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_SMTP_CRED_ID",
          "name": "info@portadirta.com SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://beds24.com/api/v2/inventory/rooms/availability?propertyId={{ $env.BEDS24_PROP_ID }}&checkIn={{ $now.plus({days:1}).toFormat('yyyy-MM-dd') }}&checkOut={{ $now.plus({days:31}).toFormat('yyyy-MM-dd') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.BEDS24_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c1000008-0000-0000-0000-000000000008",
      "name": "Beds24 — Get 30-day Occupancy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Load pricing rules and compute recommendations\nconst occupancyData = items[0].json;\nconst rules = {\n  rooms: {\n    'habitacion-mediterranea': { base: 120, floor: 90,  ceiling: 200 },\n    'suite-junior':            { base: 180, floor: 140, ceiling: 300 },\n    'suite-panoramica':        { base: 250, floor: 200, ceiling: 420 }\n  },\n  tiers: [\n    { occupancyMin: 0,  occupancyMax: 50, multiplier: 1.00 },\n    { occupancyMin: 51, occupancyMax: 70, multiplier: 1.10 },\n    { occupancyMin: 71, occupancyMax: 85, multiplier: 1.25 },\n    { occupancyMin: 86, occupancyMax: 100,multiplier: 1.40 }\n  ],\n  specialDates: [\n    { date: '2026-08-15', multiplier: 1.50 },\n    { date: '2026-08-14', multiplier: 1.40 },\n    { date: '2026-06-24', multiplier: 1.30 },\n    { date: '2026-07-25', multiplier: 1.30 }\n  ]\n};\n\nconst days = occupancyData.days || [];\nconst adjustments = [];\n\nfor (const day of days) {\n  const occ = day.occupancyPercent || 0;\n  const tier = rules.tiers.find(t => occ >= t.occupancyMin && occ <= t.occupancyMax) || rules.tiers[0];\n  const special = rules.specialDates.find(s => s.date === day.date);\n  const multiplier = special ? Math.max(special.multiplier, tier.multiplier) : tier.multiplier;\n\n  for (const [roomSlug, roomRules] of Object.entries(rules.rooms)) {\n    const recommended = Math.round((roomRules.base * multiplier) / 5) * 5;\n    const safePrice = Math.max(roomRules.floor, Math.min(roomRules.ceiling, recommended));\n    const currentPrice = day.prices?.[roomSlug] || roomRules.base;\n\n    if (Math.abs(safePrice - currentPrice) >= 10) {\n      adjustments.push({\n        date: day.date,\n        roomSlug,\n        currentPrice,\n        recommendedPrice: safePrice,\n        occupancy: occ,\n        reason: `${occ}% ocupación — ${tier.occupancyMax <= 50 ? 'baja demanda' : tier.occupancyMax <= 70 ? 'normal' : tier.occupancyMax <= 85 ? 'alta demanda' : 'pico máximo'}${ special ? ' + festivo' : ''}`\n      });\n    }\n  }\n}\n\nreturn [{ json: {\n  adjustments,\n  hasAdjustments: adjustments.length > 0,\n  analysisDate: new Date().toISOString()\n} }];"
      },
      "id": "c1000009-0000-0000-0000-000000000009",
      "name": "Compute Price Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasAdjustments }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1000010-0000-0000-0000-000000000010",
      "name": "Any Adjustments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"claude-haiku-4-5-20251001\",\\n  \"max_tokens\": 256,\\n  \"messages\": [{\\n    \"role\": \"user\",\\n    \"content\": {{ JSON.stringify(\\n      'You are the yield management analyst for Porta D\\'irta hotel. Write a concise 2-sentence summary in Spanish for the hotel manager explaining the pricing recommendations. Be specific about dates and amounts. Output JSON ONLY with no markdown: {\\\"summary\\\":\\\"...\\\"}\\n\\nDATA:\\n' + JSON.stringify($json.adjustments)\\n    ) }}\\n  }]\\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "c1000011-0000-0000-0000-000000000011",
      "name": "Claude — Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Gemini summary and store pending yield action\nconst geminiRaw = items[0].json;\nconst adjustments = $('Compute Price Recommendations').first().json.adjustments;\n\nlet summary = `${adjustments.length} ajustes de precio recomendados para los próximos 30 días.`;\ntry {\n  const text = geminiRaw.content?.[0]?.text || '{}';\n  const parsed = JSON.parse(text);\n  if (parsed.summary) summary = parsed.summary;\n} catch(e) {}\n\nconst actionKey = 'yield_' + Date.now().toString(36);\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.pendingYield) staticData.pendingYield = {};\nstaticData.pendingYield[actionKey] = { adjustments, ts: Date.now() };\n\nreturn [{ json: { summary, actionKey, count: adjustments.length } }];"
      },
      "id": "c1000012-0000-0000-0000-000000000012",
      "name": "Prepare Yield Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        160
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ADMIN_ID }}",
        "text": "=📊 *Análisis de precios — Porta D'irta*\n\n{{ $json.summary }}\n\n*{{ $json.count }} ajuste(s) recomendado(s)*\n\n¿Aplicamos los cambios de precio?",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Aplicar ajustes\",\"callback_data\":\"yieldapply_{{ $json.actionKey }}\"},{\"text\":\"❌ Descartar\",\"callback_data\":\"yielddismiss_{{ $json.actionKey }}\"}]]}"
        }
      },
      "id": "c1000013-0000-0000-0000-000000000013",
      "name": "Telegram — Yield Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1820,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CRED_ID",
          "name": "Porta D'irta Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "c1000014-0000-0000-0000-000000000014",
      "name": "Telegram Trigger — Yield Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        560
      ],
      "webhookId": "REPLACE_WEBHOOK_ID_C2",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CRED_ID",
          "name": "Porta D'irta Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle yield approval/dismiss callback\nconst update = items[0].json;\nconst callbackData = update.callback_query?.data || '';\nconst chatId = update.callback_query?.message?.chat?.id?.toString();\n\nif (!callbackData.startsWith('yield')) return [];\n\nconst parts = callbackData.split('_');\nconst cbAction = parts[0]; // yieldapply | yielddismiss\nconst actionKey = parts.slice(1).join('_');\n\nconst staticData = $getWorkflowStaticData('global');\nconst pending = staticData.pendingYield?.[actionKey];\nif (!pending) return [{ json: { error: 'Yield action expired', chatId } }];\n\ndelete staticData.pendingYield[actionKey];\n\nif (cbAction === 'yielddismiss') {\n  return [{ json: { dismissed: true, chatId, count: pending.adjustments.length } }];\n}\n\nreturn [{ json: { apply: true, chatId, adjustments: pending.adjustments } }];"
      },
      "id": "c1000015-0000-0000-0000-000000000015",
      "name": "Handle Yield Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.apply }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1000016-0000-0000-0000-000000000016",
      "name": "Apply or Dismiss?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        690,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Apply price adjustments to Beds24 sequentially with delay to respect rate limit\nconst { adjustments, chatId } = items[0].json;\nconst results = [];\n\nfor (const adj of adjustments) {\n  try {\n    const resp = await fetch(\n      `https://beds24.com/api/v2/inventory/prices`,\n      {\n        method: 'POST',\n        headers: {\n          'Authorization': `Bearer ${$env.BEDS24_API_TOKEN}`,\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify({\n          propertyId: $env.BEDS24_PROP_ID,\n          roomId: adj.roomSlug,\n          date: adj.date,\n          price: adj.recommendedPrice\n        })\n      }\n    );\n    results.push({ date: adj.date, room: adj.roomSlug, price: adj.recommendedPrice, ok: resp.ok });\n    // Respect Beds24 1-request-at-a-time rate limit\n    await new Promise(r => setTimeout(r, 700));\n  } catch(e) {\n    results.push({ date: adj.date, room: adj.roomSlug, error: e.message });\n  }\n}\n\nconst successCount = results.filter(r => r.ok).length;\nreturn [{ json: { results, successCount, total: adjustments.length, chatId } }];"
      },
      "id": "c1000017-0000-0000-0000-000000000017",
      "name": "Apply Prices to Beds24",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        910,
        500
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ *Precios actualizados*\n\n{{ $json.successCount }} de {{ $json.total }} ajustes aplicados en Beds24.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c1000018-0000-0000-0000-000000000018",
      "name": "Telegram — Applied Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1130,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CRED_ID",
          "name": "Porta D'irta Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "🗑️ Ajustes de precio descartados. Los precios actuales se mantienen.",
        "additionalFields": {}
      },
      "id": "c1000019-0000-0000-0000-000000000019",
      "name": "Telegram — Dismissed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        910,
        620
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TELEGRAM_CRED_ID",
          "name": "Porta D'irta Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron — Daily 02:00": {
      "main": [
        [
          {
            "node": "Which Trigger?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Beds24 Booking Confirmed": {
      "main": [
        [
          {
            "node": "Which Trigger?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which Trigger?": {
      "main": [
        [
          {
            "node": "Extract Booking Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Beds24 — Get 30-day Occupancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking Data": {
      "main": [
        [
          {
            "node": "Wait 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24h": {
      "main": [
        [
          {
            "node": "Build Cross-Sell Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cross-Sell Email": {
      "main": [
        [
          {
            "node": "Send Cross-Sell Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beds24 — Get 30-day Occupancy": {
      "main": [
        [
          {
            "node": "Compute Price Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Price Recommendations": {
      "main": [
        [
          {
            "node": "Any Adjustments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Adjustments?": {
      "main": [
        [
          {
            "node": "Gemini — Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gemini — Generate Summary": {
      "main": [
        [
          {
            "node": "Prepare Yield Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Yield Approval": {
      "main": [
        [
          {
            "node": "Telegram — Yield Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger — Yield Callback": {
      "main": [
        [
          {
            "node": "Handle Yield Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Yield Callback": {
      "main": [
        [
          {
            "node": "Apply or Dismiss?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply or Dismiss?": {
      "main": [
        [
          {
            "node": "Apply Prices to Beds24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram — Dismissed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Prices to Beds24": {
      "main": [
        [
          {
            "node": "Telegram — Applied Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1000000-0000-0000-0000-000000000000",
  "id": "workflow-c-yield-management",
  "tags": [
    {
      "name": "ai"
    },
    {
      "name": "yield"
    },
    {
      "name": "email"
    }
  ]
}