backend/n8n-workflows/backups/workflow-b-PRE-HOTEL-ENRICHMENT.json
{"nodes":[{"id": "b1000001-0000-0000-0000-000000000001", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "position": [256, 640], "webhookId": "475cd6ce-bb05-46ee-aea8-663b6e9d8433", "parameters": {"updates": ["message", "callback_query"], "additionalFields": {}}, "credentials": {"telegramApi": {"id": "CAysEtjkeAcp4qSC", "name": "Porta D'irta Telegram Bot"}}, "typeVersion": 1}, {"id": "b1000002-0000-0000-0000-000000000002", "name": "Identity Router", "type": "n8n-nodes-base.code", "position": [480, 640], "parameters": {"jsCode": "// Identity Router: determine user tier before any processing.\n// Returns tier: 'admin' | 'collaborator' | 'unauthorized'\nconst update = items[0].json;\nconst adminId = $env.TELEGRAM_ADMIN_ID?.toString();\nconst collabId = $env.TELEGRAM_COLLAB_ID?.toString();\n\nconst fromId = (\n  update.message?.from?.id ||\n  update.callback_query?.from?.id\n)?.toString();\n\nconst chatId = (\n  update.message?.chat?.id ||\n  update.callback_query?.message?.chat?.id\n)?.toString();\n\nlet tier = 'unauthorized';\nif (fromId === adminId) tier = 'admin';\nelse if (collabId && fromId === collabId) tier = 'collaborator';\n\n// Extract callback data if this is a confirm/cancel for a pending action\nconst callbackData = update.callback_query?.data || '';\nconst isCallback = !!update.callback_query;\nconst isVoice = !!(update.message?.voice);\nconst voiceFileId = update.message?.voice?.file_id || null;\nconst text = update.message?.text || '';\n\nconst isEmailCallback = callbackData.startsWith('email_approve_') || callbackData.startsWith('email_edit_');\n\n// ── Webhook self-heal (runs at most once per hour) ─────────────────────────\ntry {\n  const sd = $getWorkflowStaticData('global');\n  const ONE_HOUR = 60 * 60 * 1000;\n  if (!sd.lastWebhookCheck || (Date.now() - sd.lastWebhookCheck) > ONE_HOUR) {\n    const WEBHOOK_URL = 'https://n8n.hobbitonranch.com/webhook/475cd6ce-bb05-46ee-aea8-663b6e9d8433/webhook';\n    const BOT = $env.TELEGRAM_BOT_TOKEN;\n    const info = await $helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.telegram.org/bot${BOT}/getWebhookInfo`\n    });\n    if (!info.result?.url) {\n      await $helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.telegram.org/bot${BOT}/setWebhook`,\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ url: WEBHOOK_URL, allowed_updates: ['message', 'callback_query'] })\n      });\n    }\n    sd.lastWebhookCheck = Date.now();\n  }\n} catch(e) { /* non-fatal */ }\n// ────────────────────────────────────────────────────────────────────────────\n\nreturn [{ json: { tier, fromId, chatId, isCallback, isCallbackStr: isCallback ? 'yes' : 'no', callbackData, isEmailCallback, isVoice, voiceFileId, text } }];"}, "typeVersion": 2}, {"id": "b1000003-0000-0000-0000-000000000003", "name": "Authorized?", "type": "n8n-nodes-base.if", "position": [704, 640], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "c6852a62-1ce8-4eb0-8819-a2570a1d045a", "operator": {"type": "string", "operation": "notEquals", "singleValue": false}, "leftValue": "={{ $json.tier }}", "rightValue": "unauthorized"}]}}, "typeVersion": 2}, {"id": "b1000004-0000-0000-0000-000000000004", "name": "Callback or Message?", "type": "n8n-nodes-base.if", "position": [928, 640], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "d184e937-4d72-41a8-8260-133e7c207744", "operator": {"type": "string", "operation": "notEquals", "singleValue": false}, "leftValue": "={{ $json.isCallbackStr }}", "rightValue": "no"}]}}, "typeVersion": 2}, {"id": "b1000005-0000-0000-0000-000000000005", "name": "Handle Confirm/Cancel", "type": "n8n-nodes-base.code", "position": [2720, 208], "parameters": {"jsCode": "\nconst update = items[0].json;\nconst { callbackData, chatId, tier } = update;\n\n// Not a confirm/cancel callback — drop silently\nif (!callbackData || (!callbackData.startsWith('confirm_') && !callbackData.startsWith('cancel_'))) {\n  return [[], []];\n}\n\nconst parts = callbackData.split('_');\nconst cbAction = parts[0];\nconst actionKey = parts.slice(1).join('_');\n\nconst sd = $getWorkflowStaticData('global');\nconst pending = sd.pendingActions?.[actionKey];\nif (!pending) {\n  // output 1 → Telegram Cancelled (expired)\n  return [[], [{ json: { message: '⏰ Acción expirada. Vuelve a enviar el comando.', chatId } }]];\n}\ndelete sd.pendingActions[actionKey];\n\nif (cbAction === 'cancel') {\n  // output 1 → Telegram Cancelled\n  return [[], [{ json: { message: '❌ Acción cancelada.', chatId } }]];\n}\n\n// output 0 → Refresh Beds24 Token → execute\nreturn [[{ json: {\n  confirmed:     true,\n  action:        pending.action,\n  endpoint:      pending.endpoint,\n  method:        pending.method,\n  payload:       pending.payload,\n  beds24Payload: pending.beds24Payload || null,\n  chatId,\n} }], []];\n"}, "typeVersion": 2}, {"id": "b1000006-0000-0000-0000-000000000006", "name": "Voice or Text?", "type": "n8n-nodes-base.if", "position": [1376, 928], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "9dd3293a-e364-46aa-80ee-9b9112e03d80", "operator": {"type": "boolean", "operation": "equals", "singleValue": false}, "leftValue": "={{ $json.isVoice }}", "rightValue": true}]}}, "typeVersion": 2}, {"id": "b1000007-0000-0000-0000-000000000007", "name": "Get Voice File Path", "type": "n8n-nodes-base.httpRequest", "position": [1600, 784], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/getFile?file_id={{ $json.voiceFileId }}", "options": {}}, "typeVersion": 4}, {"id": "b1000008-0000-0000-0000-000000000008", "name": "Download & Encode Voice", "type": "n8n-nodes-base.code", "position": [1824, 784], "parameters": {"jsCode": "// Download voice OGG and encode as base64 for Gemini multimodal\nconst fileInfo = items[0].json;\nconst filePath = fileInfo.result?.file_path;\nif (!filePath) throw new Error('Could not get voice file path from Telegram');\n\nconst fileUrl = `https://api.telegram.org/file/bot${$env.TELEGRAM_BOT_TOKEN}/${filePath}`;\nconst resp = await fetch(fileUrl);\nif (!resp.ok) throw new Error('Failed to download voice file');\nconst buffer = Buffer.from(await resp.arrayBuffer());\nconst base64Audio = buffer.toString('base64');\n\nconst { chatId, tier } = $('Identity Router').first().json;\nreturn [{ json: { base64Audio, mimeType: 'audio/ogg', chatId, tier } }];"}, "typeVersion": 2}, {"id": "b1000009-0000-0000-0000-000000000009", "name": "Gemini — Voice (transcribe + intent)", "type": "n8n-nodes-base.httpRequest", "position": [2048, 784], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "method": "POST", "options": {"timeout": 10000}, "jsonBody": "={\"chat_id\":{{ $('Identity Router').first().json.chatId }},\"text\":\"🎤 Los mensajes de voz no están disponibles aún. Escribe tu comando en texto.\"}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}}, "typeVersion": 4}, {"id": "b1000010-0000-0000-0000-000000000010", "name": "Gemini — Text Intent", "type": "n8n-nodes-base.httpRequest", "position": [2048, 1408], "parameters": {"url": "https://api.anthropic.com/v1/messages", "method": "POST", "options": {"timeout": 30000}, "jsonBody": "={{ JSON.stringify({\"model\":\"claude-haiku-4-5-20251001\",\"max_tokens\":512,\"messages\":[{\"role\":\"user\",\"content\":$json.claudePrompt}]}) }}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}}, "typeVersion": 4}, {"id": "b1000011-0000-0000-0000-000000000011", "name": "Schema Validator", "type": "n8n-nodes-base.code", "position": [2272, 832], "parameters": {"jsCode": "\nconst geminiRaw = items[0].json;\nconst ctx = $('Identity Router').first().json;\n\nlet parsed;\ntry {\n  let rawText = geminiRaw.content?.[0]?.text || '{}';\n  rawText = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n  parsed = JSON.parse(rawText);\n} catch(e) {\n  return [{ json: { validationError: 'Claude returned invalid JSON: ' + e.message, chatId: ctx.chatId } }];\n}\n\n// Guard: Claude returned null or non-object\nif (!parsed || typeof parsed !== 'object') {\n  parsed = { action: 'unknown', parameters: {}, directReply: 'No entiendo esa solicitud. ¿Puedes reformularla?' };\n}\n\n// ── Normalize action names ────────────────────────────────────────────────\nconst actionMap = {\n  // beds24\n  'getOccupancy':'beds24.getOccupancy','get_occupancy':'beds24.getOccupancy',\n  'getPrices':'beds24.getPrices','get_prices':'beds24.getPrices','getRates':'beds24.getPrices','get_rates':'beds24.getPrices',\n  'listBookings':'beds24.listBookings','list_bookings':'beds24.listBookings',\n  'getArrivals':'beds24.getArrivals','get_arrivals':'beds24.getArrivals',\n  'getDepartures':'beds24.getDepartures','get_departures':'beds24.getDepartures',\n  'getDailySummary':'beds24.getDailySummary','get_daily_summary':'beds24.getDailySummary','dailySummary':'beds24.getDailySummary',\n  'getGuestInfo':'beds24.getGuestInfo','get_guest_info':'beds24.getGuestInfo','guestInfo':'beds24.getGuestInfo',\n  'getRevenue':'beds24.getRevenue','get_revenue':'beds24.getRevenue',\n  'getOccupancyRate':'beds24.getOccupancyRate','get_occupancy_rate':'beds24.getOccupancyRate','occupancyRate':'beds24.getOccupancyRate',\n  'blockRoom':'beds24.blockRoom','block_room':'beds24.blockRoom',\n  'updatePrice':'beds24.updatePrice','update_price':'beds24.updatePrice',\n  'cancelBooking':'beds24.cancelBooking','cancel_booking':'beds24.cancelBooking',\n  // tastyigniter\n  'listReservations':'tastyigniter.listReservations','list_reservations':'tastyigniter.listReservations',\n  'checkAvailability':'tastyigniter.checkAvailability','check_availability':'tastyigniter.checkAvailability',\n  'deleteReservation':'tastyigniter.deleteReservation','delete_reservation':'tastyigniter.deleteReservation',\n  'createReservation':'tastyigniter.createReservation','create_reservation':'tastyigniter.createReservation',\n  'cancelReservation':'tastyigniter.cancelReservation','cancel_reservation':'tastyigniter.cancelReservation',\n  // hievents\n  'getTicketCounts':'hievents.getTicketCounts','get_ticket_counts':'hievents.getTicketCounts',\n  'listEvents':'hievents.listEvents','list_events':'hievents.listEvents',\n  // maintenance\n  'addNote':'maintenance.addNote','add_note':'maintenance.addNote',\n  'listNotes':'maintenance.listNotes','list_notes':'maintenance.listNotes',\n};\nconst rawAction = parsed.action || '';\nif (!rawAction.includes('.') && actionMap[rawAction]) parsed.action = actionMap[rawAction];\nconst shortAction = rawAction.split('.').pop();\nif (rawAction.includes('.') && actionMap[shortAction]) parsed.action = actionMap[shortAction];\n\n// Fuzzy fallback\nconst knownActions = [\n  'beds24.getOccupancy','beds24.getPrices','beds24.listBookings',\n  'beds24.getArrivals','beds24.getDepartures','beds24.getDailySummary','beds24.getGuestInfo',\n  'beds24.getRevenue','beds24.getOccupancyRate',\n  'beds24.blockRoom','beds24.updatePrice','beds24.cancelBooking',\n  'tastyigniter.listReservations','tastyigniter.checkAvailability',\n  'tastyigniter.deleteReservation','tastyigniter.createReservation','tastyigniter.cancelReservation',\n  'hievents.getTicketCounts','hievents.listEvents',\n  'maintenance.addNote','maintenance.listNotes','unknown'\n];\nif (!knownActions.includes(parsed.action)) {\n  const a = (parsed.action || '').toLowerCase();\n  if      (a.includes('llega') || a.includes('arrival'))   parsed.action = 'beds24.getArrivals';\n  else if (a.includes('sale') || a.includes('depart'))     parsed.action = 'beds24.getDepartures';\n  else if (a.includes('daily') || a.includes('resumen'))   parsed.action = 'beds24.getDailySummary';\n  else if (a.includes('guest') || a.includes('huesped'))   parsed.action = 'beds24.getGuestInfo';\n  else if (a.includes('revenue') || a.includes('ingres'))  parsed.action = 'beds24.getRevenue';\n  else if (a.includes('rate') || a.includes('tasa'))       parsed.action = 'beds24.getOccupancyRate';\n  else if (a.includes('occupan') || a.includes('ocupac'))  parsed.action = 'beds24.getOccupancy';\n  else if (a.includes('price') || a.includes('precio') || a.includes('tarif')) parsed.action = 'beds24.getPrices';\n  else if (a.includes('booking') || (a.includes('reserv') && a.includes('beds'))) parsed.action = 'beds24.listBookings';\n  else if (a.includes('create') || a.includes('nueva reserva') || a.includes('apunta')) parsed.action = 'tastyigniter.createReservation';\n  else if (a.includes('cancel') && a.includes('reserv'))  parsed.action = 'tastyigniter.cancelReservation';\n  else if (a.includes('reserv'))                           parsed.action = 'tastyigniter.listReservations';\n  else if (a.includes('availab') || a.includes('disponib')) parsed.action = 'tastyigniter.checkAvailability';\n  else if (a.includes('ticket') || a.includes('event'))   parsed.action = 'hievents.getTicketCounts';\n  else if (a.includes('block') || a.includes('bloquea'))  parsed.action = 'beds24.blockRoom';\n  else if (a.includes('maintenance') || a.includes('nota')) parsed.action = 'maintenance.addNote';\n  else  parsed.action = 'unknown';\n}\n\n// ── Endpoint map ──────────────────────────────────────────────────────────\nconst today = new Date().toISOString().split('T')[0];\nconst p = parsed.payload || {};\nconst proxyBase = 'http://restaurant/api/internal';\n\nconst endpointMap = {\n  'beds24.getOccupancy':      { endpoint: 'https://beds24.com/api/v2/inventory/rooms/availability?propId=318433', method: 'GET' },\n  'beds24.getPrices':         { endpoint: 'https://beds24.com/api/v2/inventory/rooms/calendar?propId=318433&includePrices=true&includeNumAvail=true', method: 'GET' },\n  'beds24.listBookings':      { endpoint: 'https://beds24.com/api/v2/bookings?propId=318433', method: 'GET' },\n  'beds24.getArrivals':       { endpoint: proxyBase + '/daily-summary', method: 'POST' },\n  'beds24.getDepartures':     { endpoint: proxyBase + '/daily-summary', method: 'POST' },\n  'beds24.getDailySummary':   { endpoint: proxyBase + '/daily-summary', method: 'POST' },\n  'beds24.getGuestInfo':      { endpoint: proxyBase + '/guest-info', method: 'POST' },\n  'beds24.getRevenue':        { endpoint: 'https://beds24.com/api/v2/bookings?propId=318433', method: 'GET' },\n  'beds24.getOccupancyRate':  { endpoint: 'https://beds24.com/api/v2/inventory/rooms/availability?propId=318433&includeNumAvail=true', method: 'GET' },\n  'beds24.blockRoom':         { endpoint: 'https://beds24.com/api/v2/inventory/rooms/calendar', method: 'POST' },\n  'beds24.updatePrice':       { endpoint: 'https://beds24.com/api/v2/inventory/rooms/calendar', method: 'POST' },\n  'beds24.cancelBooking':     { endpoint: 'https://beds24.com/api/v2/bookings/' + (p.bookingId || ''), method: 'DELETE' },\n  'tastyigniter.listReservations':   { endpoint: proxyBase + '/reservations', method: 'GET' },\n  'tastyigniter.checkAvailability':  { endpoint: proxyBase + '/availability', method: 'GET' },\n  'tastyigniter.deleteReservation':  { endpoint: proxyBase + '/reservations/' + (p.reservationId || ''), method: 'DELETE' },\n  'tastyigniter.createReservation':  { endpoint: 'http://restaurant/api/public/reservations', method: 'POST' },\n  'tastyigniter.cancelReservation':  { endpoint: proxyBase + '/reservations/cancel', method: 'POST' },\n  'hievents.getTicketCounts': { endpoint: 'https://events.hobbitonranch.com/api/public/organizers/1/events', method: 'GET' },\n  'hievents.listEvents':      { endpoint: 'https://events.hobbitonranch.com/api/public/organizers/1/events', method: 'GET' },\n  'maintenance.addNote':      { endpoint: '', method: '', needsApiCall: false },\n  'maintenance.listNotes':    { endpoint: '', method: '', needsApiCall: false },\n};\n\nif (endpointMap[parsed.action]) {\n  const em = endpointMap[parsed.action];\n  parsed.endpoint     = em.endpoint;\n  parsed.method       = em.method;\n  parsed.needsApiCall = em.needsApiCall !== false;\n}\n\n// ── Append date params for GET actions ────────────────────────────────────\nconst startDate = p.startDate || p.date || null;\nconst endDate   = p.endDate   || p.date || startDate;\nif (parsed.action === 'beds24.getOccupancy' || parsed.action === 'beds24.getOccupancyRate') {\n  if (startDate) parsed.endpoint += '&startDate=' + startDate + '&endDate=' + endDate;\n}\nif (parsed.action === 'beds24.getPrices') {\n  if (startDate) parsed.endpoint += '&roomId=662792,662793,662794,662795&startDate=' + startDate + '&endDate=' + (endDate || startDate);\n  else parsed.endpoint += '&roomId=662792,662793,662794,662795&startDate=' + today + '&endDate=' + today;\n}\nif (parsed.action === 'beds24.listBookings') {\n  if (startDate) parsed.endpoint += '&arrival=' + startDate;\n  if (endDate && endDate !== startDate) parsed.endpoint += '&lastNight=' + endDate;\n}\nif (parsed.action === 'beds24.getRevenue') {\n  // firstNight=startDate fetches all bookings arriving on or after startDate\n  if (startDate) parsed.endpoint += '&firstNight=' + startDate;\n}\nif (parsed.action === 'tastyigniter.listReservations') {\n  if (startDate) parsed.endpoint += '?startDate=' + startDate + '&endDate=' + (endDate || startDate);\n  else parsed.endpoint += '?date=' + today;\n}\nif (parsed.action === 'tastyigniter.checkAvailability') {\n  parsed.endpoint += '?date=' + (startDate || today) + (p.guests ? '&guests=' + p.guests : '');\n}\n\n// ── Build beds24Payload for updatePrice / blockRoom ───────────────────────\nif (parsed.action === 'beds24.updatePrice' || parsed.action === 'beds24.blockRoom') {\n  const roomNameMap = {\n    'torre badum':662792,'torre':662792,\n    'cala el pebret':662793,'pebret':662793,'el pebret':662793,\n    'cala aljub':662794,'aljub':662794,\n    'ermita sant antoni':662795,'ermita':662795,'sant antoni':662795,\n  };\n  let numericRoomId = parseInt(p.roomId);\n  if (isNaN(numericRoomId)) {\n    const key = (p.roomId || p.roomName || '').toLowerCase().trim();\n    numericRoomId = roomNameMap[key] || null;\n    if (!numericRoomId) {\n      for (const [k, v] of Object.entries(roomNameMap)) {\n        if (key.includes(k) || k.includes(key)) { numericRoomId = v; break; }\n      }\n    }\n  }\n  const nameFromId = {662792:'Torre Badum',662793:'Cala El Pebret',662794:'Cala Aljub',662795:'Ermita Sant Antoni'};\n  parsed.payload.resolvedRoomName = nameFromId[numericRoomId] || p.roomId || p.roomName || 'habitación';\n  const from = p.startDate || p.date || '';\n  const to   = p.endDate   || p.date || from;\n  if (!numericRoomId || !from) {\n    return [{ json: { validationError: `No pude identificar la habitación: \"${p.roomId || p.roomName}\". Usa: Torre Badum, Cala El Pebret, Cala Aljub, Ermita Sant Antoni.`, chatId: ctx.chatId } }];\n  }\n  if (parsed.action === 'beds24.updatePrice') {\n    parsed.beds24Payload = JSON.stringify([{ roomId: numericRoomId, calendar: [{ from, to, price1: parseInt(p.price) }] }]);\n  } else {\n    parsed.beds24Payload = JSON.stringify([{ roomId: numericRoomId, calendar: [{ from, to, available: 0 }] }]);\n  }\n}\n\n// ── Permission check ──────────────────────────────────────────────────────\nconst adminActions = [\n  'beds24.getOccupancy','beds24.getPrices','beds24.listBookings',\n  'beds24.getArrivals','beds24.getDepartures','beds24.getDailySummary','beds24.getGuestInfo',\n  'beds24.getRevenue','beds24.getOccupancyRate',\n  'beds24.blockRoom','beds24.updatePrice','beds24.cancelBooking',\n  'tastyigniter.listReservations','tastyigniter.checkAvailability',\n  'tastyigniter.deleteReservation','tastyigniter.createReservation','tastyigniter.cancelReservation',\n  'hievents.getTicketCounts','hievents.listEvents',\n  'maintenance.addNote','maintenance.listNotes','unknown'\n];\nconst collabActions = ['beds24.getOccupancy','beds24.getArrivals','beds24.getDepartures','beds24.getDailySummary','tastyigniter.listReservations','tastyigniter.checkAvailability','hievents.getTicketCounts','unknown'];\nconst allowed = { admin: adminActions, collaborator: collabActions };\n\n// ── Non-command (help/greeting) ───────────────────────────────────────────\nconst nonCommands = ['unknown', 'greeting', 'chitchat', 'small_talk', 'help', 'none'];\nif (nonCommands.includes(parsed.action)) {\n  const menu = [\n    \"👋 *Porta D'irta — Comandos disponibles*\",\n    '',\n    '🏨 *Hotel (Beds24)*',\n    '• \"¿Cuál es la ocupación de hoy?\"',\n    '• \"¿Cuánto cuesta Torre Badum el 15 de abril?\"',\n    '• \"¿Quién llega hoy / esta semana?\"',\n    '• \"¿Quién sale mañana?\"',\n    '• \"Resumen de hoy\"',\n    '• \"¿Quién está en Cala Aljub ahora?\"',\n    '• \"¿Cuánto hemos facturado este mes?\"',\n    '• \"Tasa de ocupación de julio\"',\n    '• \"Lista las reservas de esta semana\"',\n    '• \"Sube Torre Badum a 150€ del 1 al 15 de junio\"',\n    '• \"Bloquea Ermita Sant Antoni del 1 al 5 de mayo\"',\n    '',\n    '🍽️ *Restaurante (TastyIgniter)*',\n    '• \"¿Hay reservas de restaurante esta semana?\"',\n    '• \"¿Hay disponibilidad para 4 personas mañana?\"',\n    '• \"Reserva mesa para Juan García, 2 personas, mañana a las 14:00, juan@email.com, 612345678\"',\n    '• \"Cancela la reserva de García\"',\n    '',\n    '🎟️ *Eventos (Hi.Events)*',\n    '• \"¿Cuántas entradas se han vendido?\"',\n    '',\n    '',\n    '📋 *Carta / Menú*',\n    '• /carta — Actualiza la carta desde Google Docs',\n    '• /menu — Actualiza el menú del día',\n    '• /bebidas — Actualiza la carta de bebidas',\n    '',\n    '🔧 *Mantenimiento*',\n    '• \"Apunta que el grifo de Torre Badum gotea\"',\n    '• \"Lista las notas pendientes\"',\n  ].join('\\n');\n  return [{ json: { validationError: menu, chatId: ctx.chatId } }];\n}\n\nif (!allowed[ctx.tier]?.includes(parsed.action)) {\n  return [{ json: { validationError: `Acción '${parsed.action}' no permitida para tu nivel de acceso.`, chatId: ctx.chatId } }];\n}\n\nif (parsed.needsApiCall !== false && (!parsed.endpoint || !parsed.method)) {\n  return [{ json: { validationError: 'No se pudo determinar el endpoint para esta acción.', chatId: ctx.chatId } }];\n}\n\nreturn [{ json: { ...parsed, isDestructive: false, confirmationMessage: null, chatId: ctx.chatId, tier: ctx.tier, valid: true, needsApiCall: parsed.needsApiCall !== false } }];\n"}, "typeVersion": 2}, {"id": "b1000012-0000-0000-0000-000000000012", "name": "Validation Error?", "type": "n8n-nodes-base.if", "position": [2496, 832], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "7fde47ef-7c3b-4322-97bd-35e4fa0868ca", "operator": {"type": "string", "operation": "notEquals", "singleValue": false}, "leftValue": "={{ $json.validationError }}", "rightValue": ""}]}}, "typeVersion": 2}, {"id": "b1000013-0000-0000-0000-000000000013", "name": "Telegram — Validation Error", "type": "n8n-nodes-base.telegram", "position": [2720, 736], "webhookId": "6c8e42e7-7a26-4b8e-9cf9-dcf0306c4225", "parameters": {"text": "={{ $json.validationError.startsWith('¡') ? $json.validationError : '⚠️ No pude procesar ese comando.\\n\\n' + $json.validationError + '\\n\\nIntenta reformular la petición.' }}", "chatId": "={{ $json.chatId }}", "additionalFields": {"parse_mode": "Markdown"}}, "credentials": {"telegramApi": {"id": "CAysEtjkeAcp4qSC", "name": "Porta D'irta Telegram Bot"}}, "typeVersion": 1}, {"id": "b1000018-0000-0000-0000-000000000018", "name": "Audit Log", "type": "n8n-nodes-base.code", "position": [4512, 640], "parameters": {"jsCode": "\n// Save last exchange to static data for conversation context\ntry {\n  const ctx = $('Schema Validator').first().json;\n  const chatId = ctx.chatId || $('Identity Router').first().json.chatId;\n  const userMsg = $('Identity Router').first().json.text || '';\n  if (chatId && userMsg && ctx.action && ctx.action !== 'unknown') {\n    const staticData = $getWorkflowStaticData('global');\n    if (!staticData.conversationHistory) staticData.conversationHistory = {};\n    staticData.conversationHistory[chatId] = {\n      userMessage: userMsg,\n      action: ctx.action,\n      payload: ctx.payload || {},\n      ts: Date.now()\n    };\n    // Keep max 50 chat histories to avoid bloat\n    const keys = Object.keys(staticData.conversationHistory);\n    if (keys.length > 50) {\n      const oldest = keys.sort((a,b) => (staticData.conversationHistory[a].ts||0) - (staticData.conversationHistory[b].ts||0))[0];\n      delete staticData.conversationHistory[oldest];\n    }\n  }\n} catch(e) { /* non-fatal */ }\n\n// Audit log — non-fatal: a crash here must never kill the flow\nconst ctx = items[0].json;\nlet actionCtx = {};\ntry { actionCtx = $('Schema Validator').first().json || {}; } catch(e) {}\ntry {\n  const sd = $getWorkflowStaticData('global');\n  if (!sd.auditLog) sd.auditLog = [];\n  sd.auditLog.push({\n    ts: new Date().toISOString(),\n    user: actionCtx.tier || ctx.tier || '?',\n    action: actionCtx.action || ctx.action || '?',\n    result: ctx.error ? 'error' : 'success',\n    n8nExecutionId: $execution.id,\n  });\n  if (sd.auditLog.length > 500) sd.auditLog = sd.auditLog.slice(-500);\n} catch(e) {}\n// Pass through: use summary from Format Response or fall back to humanReadableSummary\nconst summary = ctx.summary || actionCtx.humanReadableSummary || '✅ Completado.';\nreturn [{ json: { ...ctx, summary, chatId: ctx.chatId || actionCtx.chatId } }];"}, "typeVersion": 2}, {"id": "b1000019-0000-0000-0000-000000000019", "name": "Telegram — Result", "type": "n8n-nodes-base.telegram", "position": [4736, 640], "webhookId": "4dbc1911-a1ae-49a0-acb6-2fa620bb14d4", "parameters": {"text": "={{ $json.summary }}", "chatId": "={{ $json.chatId }}", "additionalFields": {}}, "credentials": {"telegramApi": {"id": "CAysEtjkeAcp4qSC", "name": "Porta D'irta Telegram Bot"}}, "typeVersion": 1}, {"id": "99391afd-1d4d-4ba5-a6fc-1587faa44295", "name": "Refresh Beds24 Token", "type": "n8n-nodes-base.httpRequest", "position": [2944, 400], "parameters": {"url": "https://beds24.com/api/v2/authentication/token", "options": {"timeout": 10000}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "refreshToken", "value": "83PTdVotzymkLJSxkc1qPAW3CzC+CKg4o/2XN4rA6b5sIuVi9mXtzq6FYM1tpDJXqI2mT7aNkFMzEXaEHvAB8bBvhc+H/N2ZQ4qtk96HcvZWVU4g0DNDKun7JDEgiSkdT/KFQSP+vf9yUGKRZLlFng=="}]}}, "typeVersion": 4}, {"id": "573c1fb0-b8e3-4ee2-ba77-6d80273833eb", "name": "Format Response", "type": "n8n-nodes-base.code", "position": [3840, 400], "parameters": {"jsCode": "\nconst apiResp = items[0].json;\nconst ctx = $('Schema Validator').first().json;\nconst action = ctx.action || '';\nconst today = new Date().toISOString().split('T')[0];\nconst p = ctx.payload || {};\nconst requestedDate = p.date || p.startDate || today;\nconst endDate = p.endDate || requestedDate;\n\nconst roomNames = {662792:'Torre Badum',662793:'Cala El Pebret',662794:'Cala Aljub',662795:'Ermita Sant Antoni'};\nconst channelEmoji = (ch) => ch === 'bookingdotcom' ? '🌐 Booking' : ch === 'airbnb' ? '🏠 Airbnb' : '✉️ Directo';\nconst dateLabel = (d) => d === today ? 'hoy' : d;\n\nlet summary = '';\n\n// ── beds24.getOccupancy ───────────────────────────────────────────────────\nif (action === 'beds24.getOccupancy') {\n  const rooms = apiResp.data || [];\n  if (!rooms.length) { summary = '📊 No se encontraron datos de ocupación.'; }\n  else {\n    const lines = rooms.map(room => {\n      const avail = room.availability || {};\n      const s = avail[requestedDate] ?? avail[today];\n      const status = s === true ? '🟢 Libre' : s === false ? '🔴 Ocupada' : '❓';\n      return `• ${room.name}: ${status}`;\n    });\n    summary = `📊 Ocupación ${dateLabel(requestedDate)}:\\n` + lines.join('\\n');\n  }\n\n// ── beds24.getPrices ─────────────────────────────────────────────────────\n} else if (action === 'beds24.getPrices') {\n  const roomCalendars = apiResp.data || [];\n  if (!roomCalendars.length) { summary = '💰 No se encontraron precios para esa fecha.'; }\n  else {\n    const lines = [];\n    for (const rc of roomCalendars) {\n      const roomName = roomNames[rc.roomId] || 'Hab.' + rc.roomId;\n      const cal = rc.calendar || [];\n      if (!cal.length) { lines.push(`• ${roomName}: sin datos`); continue; }\n      const entry = cal.find(e => e.day === requestedDate) || cal[0];\n      const price = entry.price1 ? `${entry.price1}€/noche` : 'sin precio';\n      const numAvail = entry.numAvail !== undefined ? (entry.numAvail > 0 ? '🟢 Libre' : '🔴 Ocupada') : '';\n      lines.push(`• ${roomName}: ${price} ${numAvail}`);\n    }\n    summary = `💰 Precios ${dateLabel(requestedDate)}:\\n` + lines.join('\\n');\n  }\n\n// ── beds24.listBookings ──────────────────────────────────────────────────\n} else if (action === 'beds24.listBookings') {\n  const bookings = apiResp.data || [];\n  if (!bookings.length) { summary = '📋 No hay reservas en el período seleccionado.'; }\n  else {\n    const lines = bookings.slice(0, 10).map(b => {\n      const name = [b.firstName, b.lastName].filter(Boolean).join(' ') || '(sin nombre)';\n      const room = roomNames[b.roomId] || `Hab.${b.roomId}`;\n      const price = b.price ? `${b.price}€` : '';\n      return `• ${name} | ${room} | ${b.arrival}→${b.departure} | ${b.numAdult}👤 ${price} | ${channelEmoji(b.channel||'')}`;\n    });\n    summary = `📋 Reservas (${bookings.length} total):\\n` + lines.join('\\n');\n    if (bookings.length > 10) summary += `\\n... y ${bookings.length - 10} más`;\n  }\n\n// ── beds24.getArrivals ───────────────────────────────────────────────────\n} else if (action === 'beds24.getArrivals') {\n  const arrivals = apiResp.arrivals || [];\n  if (!arrivals.length) { summary = `✈️ No hay llegadas para ${dateLabel(requestedDate)}.`; }\n  else {\n    const lines = arrivals.map(b => `• *${b.name}* → ${b.room} (${b.numAdult}👤) · ${channelEmoji(b.channel||'')}`);\n    summary = `✈️ Llegadas ${dateLabel(requestedDate)} (${arrivals.length}):\\n` + lines.join('\\n');\n  }\n\n// ── beds24.getDepartures ─────────────────────────────────────────────────\n} else if (action === 'beds24.getDepartures') {\n  const departures = apiResp.departures || [];\n  if (!departures.length) { summary = `🚪 No hay salidas para ${dateLabel(requestedDate)}.`; }\n  else {\n    const lines = departures.map(b => `• *${b.name}* ← ${b.room} (${b.numAdult}👤)`);\n    summary = `🚪 Salidas ${dateLabel(requestedDate)} (${departures.length}):\\n` + lines.join('\\n');\n  }\n\n// ── beds24.getDailySummary ───────────────────────────────────────────────\n} else if (action === 'beds24.getDailySummary') {\n  const arrivals   = apiResp.arrivals   || [];\n  const departures = apiResp.departures || [];\n  const staying    = apiResp.currentlyStaying || [];\n  const resos      = apiResp.restaurantReservations || [];\n  const parts = [`📅 *Resumen ${dateLabel(requestedDate)}*`];\n  parts.push(`\\n🏨 Hotel: ${staying.length} habitaciones ocupadas`);\n  if (arrivals.length)   parts.push(`✈️ Llegadas: ` + arrivals.map(b => `${b.name} (${b.room})`).join(', '));\n  if (departures.length) parts.push(`🚪 Salidas: `  + departures.map(b => `${b.name} (${b.room})`).join(', '));\n  if (resos.length)      parts.push(`\\n🍽️ Restaurante: ${resos.length} reservas\\n` + resos.map(r => `• ${r.time} · ${r.name} · ${r.guests} pers.`).join('\\n'));\n  else                   parts.push(`\\n🍽️ Restaurante: sin reservas`);\n  summary = parts.join('\\n');\n\n// ── beds24.getGuestInfo ──────────────────────────────────────────────────\n} else if (action === 'beds24.getGuestInfo') {\n  const roomName = apiResp.roomName || ctx.payload?.resolvedRoomName || 'habitación';\n  const guest = apiResp.currentGuest;\n  const upcoming = apiResp.upcoming || [];\n  if (!guest) {\n    summary = `🏠 *${roomName}* está libre hoy (${dateLabel(requestedDate)}).`;\n    if (upcoming.length) {\n      summary += '\\n\\nPróxima llegada: ' + upcoming.map(u => `${u.name} · ${u.arrival}→${u.departure}`).join(', ');\n    }\n  } else {\n    summary = `🏠 *${roomName}* — huésped actual:\\n• ${guest.name}\\n• Check-in: ${guest.arrival} · Check-out: ${guest.departure}\\n• ${guest.numAdult}👤 · ${channelEmoji(guest.channel||'')}`;\n    if (upcoming.length) {\n      summary += '\\n\\nPróxima reserva: ' + upcoming.map(u => `${u.name} · ${u.arrival}`).join(', ');\n    }\n  }\n\n// ── beds24.getRevenue ────────────────────────────────────────────────────\n} else if (action === 'beds24.getRevenue') {\n  const allBookings = apiResp.data || [];\n  // Filter: active statuses only (exclude cancelled/deleted)\n  const activeStatuses = ['new', 'confirmed', 'checkout', 'checkin'];\n  // Filter by date range from payload if available\n  const revStart = p.startDate || p.date || null;\n  const revEnd   = p.endDate   || p.date || null;\n  const bookings = allBookings.filter(b => {\n    if (!activeStatuses.includes(b.status)) return false;\n    if (revStart && b.arrival < revStart) return false;\n    if (revEnd   && b.arrival > revEnd)   return false;\n    return true;\n  });\n  if (!bookings.length) { summary = '💶 No se encontraron reservas activas en ese período.'; }\n  else {\n    const total = bookings.reduce((sum, b) => sum + (parseFloat(b.price) || 0), 0);\n    const roomBreakdown = {};\n    for (const b of bookings) {\n      const rn = roomNames[b.roomId] || 'Otro';\n      roomBreakdown[rn] = (roomBreakdown[rn] || 0) + (parseFloat(b.price) || 0);\n    }\n    const lines = Object.entries(roomBreakdown).map(([r, v]) => `• ${r}: ${v.toFixed(0)}€`);\n    summary = `💶 Ingresos confirmados (${bookings.length} reservas): *${total.toFixed(0)}€*\\n` + lines.join('\\n');\n  }\n\n// ── beds24.getOccupancyRate ──────────────────────────────────────────────\n} else if (action === 'beds24.getOccupancyRate') {\n  const rooms = apiResp.data || [];\n  if (!rooms.length) { summary = '📊 No se encontraron datos de disponibilidad.'; }\n  else {\n    let totalSlots = 0, occupiedSlots = 0;\n    for (const room of rooms) {\n      const avail = room.availability || {};\n      for (const [date, val] of Object.entries(avail)) {\n        totalSlots++;\n        if (val === false || val === 0) occupiedSlots++;\n      }\n    }\n    const rate = totalSlots > 0 ? Math.round((occupiedSlots / totalSlots) * 100) : 0;\n    summary = `📊 Tasa de ocupación (${requestedDate} → ${endDate}): *${rate}%*\\n(${occupiedSlots} noches ocupadas de ${totalSlots} disponibles)`;\n  }\n\n// ── beds24.updatePrice ───────────────────────────────────────────────────\n} else if (action === 'beds24.updatePrice') {\n  const from = p.startDate || p.date || '?';\n  const to   = p.endDate   || p.date || from;\n  let roomName = '';\n  try { roomName = $('Build Beds24 Payload v2').first().json.resolvedRoomName || ''; } catch(e) {}\n  roomName = roomName || p.resolvedRoomName || p.roomName || p.roomId || 'habitación';\n  const hasError = apiResp.error || apiResp.httpCode >= 400 ||\n                   (Array.isArray(apiResp) && apiResp.some(r => r.success === false));\n  summary = hasError\n    ? `❌ Error al actualizar precio: ${String(apiResp.error || JSON.stringify(apiResp)).slice(0, 120)}`\n    : `💰 Precio actualizado: ${roomName} → ${p.price}€/noche (${from} al ${to})`;\n\n// ── beds24.blockRoom ─────────────────────────────────────────────────────\n} else if (action === 'beds24.blockRoom') {\n  const from = p.startDate || p.date || '?';\n  const to   = p.endDate   || p.date || from;\n  let roomName = '';\n  try { roomName = $('Build Beds24 Payload v2').first().json.resolvedRoomName || ''; } catch(e) {}\n  roomName = roomName || p.resolvedRoomName || p.roomName || p.roomId || 'habitación';\n  const hasError = apiResp.error || apiResp.httpCode >= 400;\n  summary = hasError\n    ? `❌ Error al bloquear ${roomName}: ${String(apiResp.error || JSON.stringify(apiResp)).slice(0, 120)}`\n    : `🔒 *${roomName}* bloqueada del ${from} al ${to}.`;\n\n// ── tastyigniter.listReservations ────────────────────────────────────────\n} else if (action === 'tastyigniter.listReservations') {\n  const resos = apiResp.data || [];\n  if (!resos.length) { summary = '🍽️ No hay reservas de restaurante.'; }\n  else {\n    const lines = resos.slice(0, 10).map(r => {\n      const name = [r.first_name, r.last_name].filter(Boolean).join(' ') || '(sin nombre)';\n      return `• ${r.reserve_date} ${r.reserve_time} · *${name}* · ${r.guest_num} pers.`;\n    });\n    summary = `🍽️ Reservas restaurante (${resos.length} total):\\n` + lines.join('\\n');\n  }\n\n// ── tastyigniter.checkAvailability ───────────────────────────────────────\n} else if (action === 'tastyigniter.checkAvailability') {\n  summary = apiResp.available\n    ? `✅ Hay disponibilidad para ${requestedDate} (${apiResp.bookedSeats || 0}/${apiResp.capacity || 75} plazas ocupadas).`\n    : `❌ Sin disponibilidad para ${requestedDate}. Aforo completo.`;\n\n// ── tastyigniter.createReservation ───────────────────────────────────────\n} else if (action === 'tastyigniter.createReservation') {\n  if (apiResp.success) {\n    const req = p;\n    summary = `✅ Reserva creada: *${req.nombre || '?'}* · ${req.fecha || req.date || '?'} a las ${req.hora || '?'} · ${req.guests || req.personas || '?'} personas.`;\n  } else {\n    summary = `❌ Error al crear reserva: ${apiResp.message || JSON.stringify(apiResp).slice(0,120)}`;\n  }\n\n// ── tastyigniter.cancelReservation ───────────────────────────────────────\n} else if (action === 'tastyigniter.cancelReservation') {\n  if (apiResp.success && apiResp.cancelled) {\n    const c = apiResp.cancelled;\n    summary = `✅ Reserva cancelada: *${c.name}* del ${c.date} a las ${c.time} (${c.guests} pers.).`;\n  } else {\n    summary = `❌ ${apiResp.error || 'No se encontró ninguna reserva con ese nombre.'}`;\n  }\n\n// ── hievents.getTicketCounts / listEvents ─────────────────────────────────\n} else if (action === 'hievents.getTicketCounts' || action === 'hievents.listEvents') {\n  const events = apiResp.data || [];\n  if (!events.length) { summary = '🎟️ No hay eventos activos.'; }\n  else {\n    const lines = events.slice(0, 5).map(ev =>\n      `• ${ev.title || ev.name}: ${ev.tickets_sold || 0} vendidas / ${ev.capacity || '?'} cap.`\n    );\n    summary = `🎟️ Eventos (${events.length}):\\n` + lines.join('\\n');\n  }\n\n} else {\n  summary = apiResp.success === false\n    ? `❌ Error: ${apiResp.error || JSON.stringify(apiResp).slice(0, 200)}`\n    : `✅ ${ctx.humanReadableSummary || 'Completado.'}\\n\\n${JSON.stringify(apiResp).slice(0, 300)}`;\n}\n\n// Save conversation context\ntry {\n  const sd = $getWorkflowStaticData('global');\n  if (!sd.conversationHistory) sd.conversationHistory = {};\n  const chatId = ctx.chatId || $('Identity Router').first().json.chatId || '';\n  if (chatId) {\n    sd.conversationHistory[chatId] = {\n      userMessage: $('Identity Router').first().json.text || '',\n      action,\n      payload: p,\n      ts: Date.now(),\n    };\n  }\n} catch(e) {}\n\nreturn [{ json: { ...ctx, apiResponse: apiResp, summary, chatId: ctx.chatId } }];\n"}, "typeVersion": 2}, {"id": "prepare-request", "name": "Prepare Request", "type": "n8n-nodes-base.code", "position": [3168, 400], "parameters": {"jsCode": "\nconst token = items[0].json.token;\nconst src = $('Schema Validator').first().json;\nif (!src || !src.endpoint && src.needsApiCall !== false) {\n  return [{ json: { error: 'No execution context from Schema Validator', chatId: $('Identity Router').first().json.chatId || '' } }];\n}\nreturn [{ json: {\n  token,\n  action:        src.action,\n  endpoint:      src.endpoint,\n  method:        src.method,\n  payload:       src.payload,\n  needsApiCall:  src.needsApiCall,\n  beds24Payload: src.beds24Payload || null,\n  chatId:        src.chatId || $('Identity Router').first().json.chatId || '',\n} }];\n"}, "typeVersion": 2}, {"id": "telegram-cancel", "name": "Telegram — Cancelled", "type": "n8n-nodes-base.telegram", "position": [2944, 208], "webhookId": "1405fb72-1b48-49f0-8094-0fa80b31cb85", "parameters": {"text": "={{ $json.message }}", "chatId": "={{ $json.chatId }}", "additionalFields": {}}, "credentials": {"telegramApi": {"id": "CAysEtjkeAcp4qSC", "name": "Porta D'irta Telegram Bot"}}, "typeVersion": 1}, {"id": "cc111111-beef-cafe-dead-111111111111", "name": "Build Beds24 Payload v2", "type": "n8n-nodes-base.code", "position": [3392, 400], "parameters": {"jsCode": "\nconst inp = items[0].json;\nconst action = inp.action || '';\nconst p = inp.payload || {};\nconst token = inp.token || '';\nconst today = new Date().toISOString().split('T')[0];\n\nlet endpoint = inp.endpoint;\nlet method   = inp.method || 'GET';\nlet requestBody   = null;\nlet resolvedRoomName = '';\nlet resolvedRoomId   = null;\n\n// ── Room resolver ─────────────────────────────────────────────────────────\nconst roomMap = {\n  'torre badum':662792,'torre':662792,\n  'cala el pebret':662793,'pebret':662793,'el pebret':662793,\n  'cala aljub':662794,'aljub':662794,\n  'ermita sant antoni':662795,'ermita':662795,'sant antoni':662795,\n};\nconst nameFromId = {662792:'Torre Badum',662793:'Cala El Pebret',662794:'Cala Aljub',662795:'Ermita Sant Antoni'};\nconst resolveRoom = (idOrName) => {\n  let id = parseInt(idOrName);\n  if (!isNaN(id) && nameFromId[id]) return { id, name: nameFromId[id] };\n  const key = String(idOrName || '').toLowerCase().trim();\n  id = roomMap[key] || null;\n  if (!id) {\n    for (const [k, v] of Object.entries(roomMap)) {\n      if (key.includes(k) || k.includes(key)) { id = v; break; }\n    }\n  }\n  return { id: id || null, name: nameFromId[id] || String(idOrName || 'habitación') };\n};\n// ─────────────────────────────────────────────────────────────────────────\n\nif (action === 'beds24.updatePrice' || action === 'beds24.blockRoom') {\n  const room = resolveRoom(p.roomId || p.roomName);\n  if (!room.id) {\n    return [{ json: { ...inp, _buildError: 'Habitación no reconocida: ' + String(p.roomId || p.roomName) } }];\n  }\n  const from = String(p.startDate || p.date || '');\n  const to   = String(p.endDate   || p.date || from);\n  resolvedRoomId   = room.id;\n  resolvedRoomName = room.name;\n  endpoint  = 'http://restaurant/api/internal/beds24/calendar';\n  method    = 'POST';\n  requestBody = { roomId: room.id, from, to, token };\n  if (action === 'beds24.updatePrice') requestBody.price1    = parseInt(p.price);\n  else                                 requestBody.available = 0;\n\n} else if (action === 'beds24.getArrivals' || action === 'beds24.getDepartures' || action === 'beds24.getDailySummary') {\n  requestBody = { date: p.date || p.startDate || today, token };\n\n} else if (action === 'beds24.getGuestInfo') {\n  const room = resolveRoom(p.roomId || p.roomName);\n  resolvedRoomId   = room.id;\n  resolvedRoomName = room.name;\n  requestBody = { roomId: room.id, date: p.date || today, token };\n\n} else if (action === 'tastyigniter.createReservation') {\n  requestBody = {\n    nombre:        p.nombre || p.name    || '(sin nombre)',\n    email:         p.email              || 'noreply@portadirta.com',\n    telefono:      p.telefono || p.phone || '000000000',\n    personas:      parseInt(p.guests || p.personas || 2),\n    fecha:         p.date || p.fecha    || today,\n    hora:          p.hora               || '13:00',\n    observaciones: p.observaciones      || '',\n  };\n\n} else if (action === 'tastyigniter.cancelReservation') {\n  requestBody = {\n    name: p.name || p.nombre || '',\n    date: p.date || null,\n  };\n}\n// GET actions — no body needed (requestBody stays null)\n\nreturn [{ json: {\n  ...inp,\n  endpoint,\n  method,\n  requestBody,\n  resolvedRoomId,\n  resolvedRoomName,\n} }];\n"}, "typeVersion": 2}, {"id": "dd222222-beef-cafe-dead-222222222222", "name": "Execute API Call v2", "type": "n8n-nodes-base.httpRequest", "position": [3616, 400], "parameters": {"url": "={{ $json.endpoint }}", "method": "={{ $json.method }}", "options": {"timeout": 15000}, "jsonBody": "={{ JSON.stringify($json.requestBody || {}) }}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "token", "value": "={{ $json.token }}"}, {"name": "Content-Type", "value": "application/json"}, {"name": "X-Internal-Token", "value": "portadirta-n8n-2026"}]}}, "typeVersion": 4}, {"id": "ee333333-beef-cafe-dead-333333333333", "name": "Naturalize Response", "type": "n8n-nodes-base.httpRequest", "position": [4064, 400], "parameters": {"url": "https://api.anthropic.com/v1/messages", "method": "POST", "options": {"timeout": 15000}, "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 400,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": {{ JSON.stringify(\n      `You are the internal operations assistant for Porta D'irta hotel staff.\nRewrite the following data into a clear, concise operational message in Spanish.\nRules:\n- You are talking TO STAFF, not to guests — never say \"te recomendamos reservar\", \"primavera es ideal\", or any guest-facing marketing copy\n- Lead with the key fact (room name, guest name, count, amount)\n- Keep emojis that are in the data, do not add decoration\n- Max 5 lines. Be direct, like a good hotel PMS system\n- If it's an error, just say what failed and how to fix it\n- If it's a success action (price updated, reservation created), confirm it clearly\n- CONTEXT: if the action is a restaurant reservation (tastyigniter.createReservation / tastyigniter.cancelReservation), NEVER mention \"habitación\" or \"liberar habitación\" — it's a TABLE booking (mesa). Say \"mesa\" or \"reserva de restaurante\".\n- A short useful operational note at the end is ok (e.g. \"checkout mañana a las 12h\", \"recordad llamar al huésped si no aparece\")\n\nDATA:\n` + $('Format Response').first().json.summary\n    ) }}\n  }]\n}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}}, "typeVersion": 4}, {"id": "ff444444-beef-cafe-dead-444444444444", "name": "Pack Natural Text", "type": "n8n-nodes-base.code", "position": [4288, 400], "parameters": {"jsCode": "// Extract natural language text from Claude, fallback to raw summary\nconst naturalText = items[0].json.content?.[0]?.text || '';\nconst ctx = $('Format Response').first().json;\nreturn [{ json: { ...ctx, summary: naturalText || ctx.summary } }];"}, "typeVersion": 2}, {"id": "aa111111-prep-cafe-dead-000000000001", "name": "Prepare Claude Prompt", "type": "n8n-nodes-base.code", "position": [1824, 1408], "parameters": {"jsCode": "\nconst identity = $('Identity Router').first().json;\nconst chatId = identity.chatId || '';\nconst text = identity.text || '';\nconst tier = identity.tier;\nconst today = new Date().toISOString().split('T')[0];\n\nlet claudePrompt;\n\nif (tier === 'admin') {\n  const staticData = $getWorkflowStaticData('global');\n  const history = (staticData.conversationHistory || {})[chatId];\n  const prevContext = history\n    ? '\\nPREVIOUS EXCHANGE (use to resolve pronouns, \"el dia X\", \"esa semana\", etc):\\n  User said: \"' + history.userMessage + '\"\\n  Resolved to: ' + history.action + ' for ' + JSON.stringify(history.payload) + '\\n'\n    : '';\n\n  claudePrompt = 'You are an API router for Porta D\\'irta hotel in Peñíscola, Spain. Today is ' + today + '.\\nOutput ONLY a JSON object — no markdown, no explanation, nothing else.\\n\\nSPANISH HOLIDAY DATES 2026:\\n- Semana Santa = 2026-03-28 to 2026-04-06\\n- Puente de Mayo = 2026-04-25 to 2026-05-04\\n- Sant Joan = 2026-06-20 to 2026-06-28\\n- Agosto = 2026-08-01 to 2026-08-31\\n- Verano = 2026-06-21 to 2026-09-07\\n\\nACTION RULES:\\n- \"precio\", \"cuesta\", \"cuanto\", \"tarifa\" → beds24.getPrices\\n- Occupancy / who is staying / free / available (no price) → beds24.getOccupancy\\n- \"reservas hotel\", \"reservas beds24\", \"lista de reservas\" → beds24.listBookings\\n- \"quién llega\", \"llegadas de hoy/mañana/semana\", \"check-in\" → beds24.getArrivals\\n- \"quién sale\", \"salidas de hoy/mañana/semana\", \"check-out\" → beds24.getDepartures\\n- \"resumen del día\", \"resumen de hoy\", \"qué pasa hoy\", \"qué hay hoy\" → beds24.getDailySummary\\n- \"quién está en [habitación]\", \"quién ocupa\", \"huésped en\" → beds24.getGuestInfo (put room in roomId or roomName)\\n- \"ingresos\", \"facturación\", \"cuánto hemos ganado\", \"revenue\" → beds24.getRevenue\\n- \"tasa de ocupación\", \"% ocupado\", \"occupancy rate\" → beds24.getOccupancyRate\\n- \"bloquea\", \"cierra\" room → beds24.blockRoom (isDestructive=true)\\n- \"sube\", \"baja\", \"pon precio\", \"actualiza precio\" → beds24.updatePrice (isDestructive=true)\\n- \"reservas restaurante\", list mesas → tastyigniter.listReservations\\n- \"disponibilidad restaurante\", \"hay sitio\" → tastyigniter.checkAvailability\\n- \"reserva mesa para\", \"apunta una reserva de restaurante\" → tastyigniter.createReservation (extract: nombre, email, telefono, guests, date YYYY-MM-DD, hora HH:MM)\\n- \"cancela reserva de\", \"borra mesa de\", \"anula reserva\" → tastyigniter.cancelReservation (put guest surname/name in payload.name)\\n- \"entradas\", \"tickets\" → hievents.getTicketCounts\\n- \"apunta que\", \"anota\", \"nota mantenimiento\" → maintenance.addNote (put note text in payload.note)\\n- \"notas pendientes\", \"lista notas\", \"qué hay pendiente\" → maintenance.listNotes\\n\\nDATE RULES:\\n- \"mañana\" → tomorrow; \"esta semana\" → Mon–Sun of current week\\n- Named holidays → exact dates above\\n- Single date → startDate=endDate=that date\\n- No month specified (\"el día 5\") → use PREVIOUS CONTEXT month or current month\\n- Relative refs (\"esa semana\", \"Y empezando el...\") → resolve from PREVIOUS CONTEXT\\n' + prevContext + '\\nSCHEMA (include ALL keys, null if unused):\\n{\"action\":\"<action>\",\"payload\":{\"startDate\":\"YYYY-MM-DD\",\"endDate\":\"YYYY-MM-DD\",\"date\":\"YYYY-MM-DD\",\"roomId\":null,\"roomName\":\"\",\"price\":null,\"bookingId\":null,\"guests\":null,\"nombre\":null,\"email\":null,\"telefono\":null,\"hora\":null,\"name\":null,\"note\":null},\"isDestructive\":false,\"confirmationMessage\":\"\",\"humanReadableSummary\":\"<one sentence in Spanish>\"}\\n\\nCOMMAND: ' + text;\n\n} else {\n  claudePrompt = 'You are an API router. Output ONLY JSON.\\nActions: beds24.getOccupancy, beds24.getArrivals, beds24.getDepartures, beds24.getDailySummary, tastyigniter.listReservations, tastyigniter.checkAvailability, hievents.getTicketCounts, unknown.\\nSchema: {\"action\":\"\",\"payload\":{},\"isDestructive\":false,\"confirmationMessage\":\"\",\"humanReadableSummary\":\"\"}\\n\\nCOMMAND: ' + text;\n}\n\nreturn [{ json: { ...identity, claudePrompt } }];\n"}, "typeVersion": 2}, {"id": "has-api-call-000000000001", "name": "Has API Call?", "type": "n8n-nodes-base.if", "position": [2720, 976], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "has-api-cond-0001", "operator": {"type": "boolean", "operation": "notEquals", "singleValue": false}, "leftValue": "={{ $json.needsApiCall }}", "rightValue": false}]}}, "typeVersion": 2}, {"id": "direct-action-handler-001", "name": "Direct Action Handler", "type": "n8n-nodes-base.code", "position": [4288, 1072], "parameters": {"jsCode": "\nconst ctx = items[0].json;\nconst action = ctx.action || '';\nconst p = ctx.payload || {};\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.maintenanceNotes) sd.maintenanceNotes = [];\n\nlet summary = '';\n\nif (action === 'maintenance.addNote') {\n  const noteText = p.note || p.text || p.mensaje || '';\n  if (!noteText.trim()) {\n    summary = '❌ No encontré el texto de la nota. Ej: \"Apunta que el grifo de Torre Badum gotea\"';\n  } else {\n    const id = Date.now().toString(36);\n    sd.maintenanceNotes.push({ id, text: noteText, ts: new Date().toISOString(), addedBy: ctx.tier || 'admin' });\n    summary = `🔧 Nota apuntada (${sd.maintenanceNotes.length} total): \"${noteText}\"`;\n  }\n} else if (action === 'maintenance.listNotes') {\n  const notes = sd.maintenanceNotes || [];\n  if (!notes.length) {\n    summary = '📋 No hay notas de mantenimiento pendientes.';\n  } else {\n    const lines = notes.map((n, i) => `${i+1}. ${n.text} _(${n.ts.slice(0,10)})_`);\n    summary = `🔧 *Notas de mantenimiento (${notes.length}):*\\n` + lines.join('\\n');\n  }\n} else {\n  summary = `❓ Acción desconocida: ${action}`;\n}\n\nreturn [{ json: { ...ctx, summary, chatId: ctx.chatId } }];\n"}, "typeVersion": 2}, {"id": "imap-trigger-00000000000001", "name": "IMAP Trigger", "type": "n8n-nodes-base.emailReadImap", "position": [256, 1632], "parameters": {"options": {}}, "credentials": {"imap": {"id": "c5uXV82paVF4Og7z", "name": "Porta D'irta IMAP"}}, "typeVersion": 2}, {"id": "email-idempotency-000000001", "name": "Email Idempotency", "type": "n8n-nodes-base.code", "position": [480, 1632], "parameters": {"jsCode": "\nconst sd = $getWorkflowStaticData('global');\nsd.processedEmails = sd.processedEmails || {};\n\nconst email = items[0].json;\n\n// Derive stable key from message-id header (unique per RFC 2822) or fallback\nconst rawId = (email.headers?.['message-id'] || email.messageId || '')\n  .replace(/[<>]/g, '').trim();\nconst fallbackId = (email.from || '') + '|' + (email.subject || '') + '|' + (email.date || '');\nconst idSource = rawId || fallbackId;\n\n// Block self-email loops (prevent infinite reply chains)\nconst from = String(email.from || '').toLowerCase();\nif (from.includes('portadirta.com')) return [];\n\n// Use FULL base64 (no truncation) — old code truncated to 24 chars causing all emails\n// from the same sender (whose address > 18 chars) to collide on the same key.\nconst msgKey = Buffer.from(idSource).toString('base64').replace(/[^a-zA-Z0-9]/g, '_');\n\n// Block already-seen emails\nif (sd.processedEmails[msgKey]) return [];\n\n// Migrate: delete old ≤24-char truncated keys and entries older than 24h\nconst cutoff24h = Date.now() - 24 * 3600000;\nfor (const k of Object.keys(sd.processedEmails)) {\n  if (k.length <= 24 || (sd.processedEmails[k]?.ts || 0) < cutoff24h) {\n    delete sd.processedEmails[k];\n  }\n}\n\n// Mark as seen immediately\nsd.processedEmails[msgKey] = { ts: Date.now(), status: 'processing' };\n\n// Strip HTML to plain text\nconst stripHtml = (h) => String(h || '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ').trim();\n\nconst bodyText = (email.text || stripHtml(email.html || '') || '').substring(0, 3000);\n\nreturn [{ json: { msgKey, from: email.from, subject: email.subject, bodyText, date: email.date } }];\n"}, "typeVersion": 2}, {"id": "claude-email-draft-000000001", "name": "Claude — Parse Intent", "type": "n8n-nodes-base.httpRequest", "position": [704, 1632], "parameters": {"url": "https://api.anthropic.com/v1/messages", "method": "POST", "options": {"timeout": 20000}, "jsonBody": "={{\n  JSON.stringify({\n    model: \"claude-haiku-4-5-20251001\",\n    max_tokens: 300,\n    messages: [{\n      role: \"user\",\n      content:\n        \"Extrae info del email y devuelve ÚNICAMENTE JSON (sin markdown):\\n\"\n        + \"{\\n\"\n        + \"  \\\"intent\\\": \\\"booking\\\" | \\\"restaurant\\\" | \\\"event\\\" | \\\"info\\\" | \\\"complaint\\\" | \\\"other\\\",\\n\"\n        + \"  \\\"language\\\": \\\"es\\\"|\\\"en\\\"|\\\"fr\\\"|\\\"de\\\"|etc,\\n\"\n        + \"  \\\"senderName\\\": \\\"nombre o null\\\",\\n\"\n        + \"  \\\"checkIn\\\": \\\"YYYY-MM-DD o null\\\",\\n\"\n        + \"  \\\"checkOut\\\": \\\"YYYY-MM-DD o null\\\",\\n\"\n        + \"  \\\"guests\\\": \\\"número o null\\\",\\n\"\n        + \"  \\\"restaurantDate\\\": \\\"YYYY-MM-DD o null\\\",\\n\"\n        + \"  \\\"restaurantGuests\\\": \\\"número o null\\\"\\n\"\n        + \"}\\n\"\n        + \"Fecha de hoy: \" + new Date().toISOString().substring(0,10) + \".\\n\\n\"\n        + \"De: \" + $(\"Email Idempotency\").first().json.from + \"\\n\"\n        + \"Asunto: \" + $(\"Email Idempotency\").first().json.subject + \"\\n\"\n        + \"Cuerpo: \" + $(\"Email Idempotency\").first().json.bodyText\n    }]\n  })\n}}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}}, "typeVersion": 4}, {"id": "email-store-preview-000000001", "name": "Email Store + Preview", "type": "n8n-nodes-base.code", "position": [928, 1632], "parameters": {"jsCode": "const sd = $getWorkflowStaticData('global');\nsd.pendingDrafts = sd.pendingDrafts || {};\n\nconst idempotency = $('Email Idempotency').first().json;\nconst { msgKey, from, subject, bodyText } = idempotency;\nconst raw = items[0].json.content?.[0]?.text || '{}';\n\nlet draft;\ntry {\n  const clean = raw.replace(/^```json\\s*/i, '').replace(/```\\s*$/, '').trim();\n  draft = JSON.parse(clean);\n} catch(e) {\n  draft = {\n    draftSubject: 'Re: ' + subject,\n    draftBody: \"Gracias por contactar con Porta D'Irta. Hemos recibido su mensaje y nos pondremos en contacto a la mayor brevedad.\\n\\nEl equipo de Porta D'Irta\",\n    language: 'es',\n    intent: 'other'\n  };\n}\n\n// Ensure draftBody is never undefined\nconst draftBody = draft.draftBody || draft.body || draft.draft || '';\nconst draftSubject = draft.draftSubject || draft.subject || ('Re: ' + subject);\n\n// cbKey: max 48 chars so callback_data = \"email_approve_\" (14) + 48 = 62 bytes, safely under Telegram's 64-byte limit\nconst cbKey = msgKey.substring(0, 48);\n\n// Store draft keyed by cbKey (for fast callback lookup)\nsd.pendingDrafts[cbKey] = {\n  to:       from,\n  subject:  draftSubject,\n  body:     draftBody,\n  msgKey:   msgKey,\n  intent:   draft.intent || 'other',\n  ts:       Date.now()\n};\n\n// Expire drafts older than 48h\nconst cutoff = Date.now() - 48 * 3600000;\nfor (const k of Object.keys(sd.pendingDrafts)) {\n  if ((sd.pendingDrafts[k].ts || 0) < cutoff) delete sd.pendingDrafts[k];\n}\n\nconst preview = draftBody.length > 600 ? draftBody.substring(0, 600) + '\\u2026' : draftBody;\n\nconst adminId = $env.TELEGRAM_ADMIN_ID;\nconst msg = '\\ud83d\\udce7 *Nuevo email*\\n'\n          + 'De: `' + from + '`\\n'\n          + 'Asunto: _' + subject + '_\\n\\n'\n          + '*Borrador:*\\n' + preview;\n\nreturn [{ json: { msg, cbKey, adminId: String(adminId) } }];"}, "typeVersion": 2}, {"id": "telegram-send-preview-000001", "name": "Telegram — Email Preview", "type": "n8n-nodes-base.httpRequest", "position": [1152, 1632], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "method": "POST", "options": {}, "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.adminId,\n  text: $json.msg,\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '✅ Enviar',  callback_data: 'email_approve_' + $json.cbKey },\n      { text: '✏️ Editar', callback_data: 'email_edit_'    + $json.cbKey }\n    ]]\n  }\n}) }}", "sendBody": true, "specifyBody": "json"}, "typeVersion": 4}, {"id": "email-callback-handler-00001", "name": "Email Callback Handler", "type": "n8n-nodes-base.code", "position": [2720, 544], "parameters": {"jsCode": "const sd = $getWorkflowStaticData('global');\nsd.pendingDrafts   = sd.pendingDrafts   || {};\nsd.processedEmails = sd.processedEmails || {};\n\nconst cb     = items[0].json.callbackData || '';\nconst chatId = String(items[0].json.chatId || $env.TELEGRAM_ADMIN_ID);\n\nif (cb.startsWith('email_approve_')) {\n  const cbKey = cb.replace('email_approve_', '');\n  const draft = sd.pendingDrafts[cbKey];\n  if (!draft) {\n    return [{ json: { _emailAction: 'notify', chatId, text: '\\u274c Borrador no encontrado (puede haber expirado).' } }];\n  }\n  const msgKey = draft.msgKey || cbKey;\n  if (sd.processedEmails[msgKey]?.status === 'sent') {\n    return [{ json: { _emailAction: 'notify', chatId, text: '\\u26a0\\ufe0f Este email ya fue enviado.' } }];\n  }\n  sd.processedEmails[msgKey] = { ts: Date.now(), status: 'sent' };\n  delete sd.pendingDrafts[cbKey];\n  return [{ json: { _emailAction: 'send', cbKey, to: draft.to, subject: draft.subject, body: draft.body, chatId, readyToSend: true } }];\n}\n\nif (cb.startsWith('email_edit_')) {\n  const cbKey = cb.replace('email_edit_', '');\n  const draft = sd.pendingDrafts[cbKey];\n  if (!draft) {\n    return [{ json: { _emailAction: 'notify', chatId, text: '\\u274c Borrador no encontrado o expirado.' } }];\n  }\n  sd.pendingEdit = cbKey;\n  return [{ json: { _emailAction: 'notify', chatId, text: '\\u270f\\ufe0f Escribe el nuevo cuerpo del email y lo reenv\\u00edo como borrador.' } }];\n}\n\nreturn [{ json: { _emailAction: 'none', chatId } }];"}, "typeVersion": 2}, {"id": "smtp-send-email-000000001", "name": "SMTP — Send Email", "type": "n8n-nodes-base.emailSend", "position": [3168, 592], "webhookId": "dba6bd9c-7f71-431a-9c57-eaeb7a89c2fb", "parameters": {"html": "={{ $json.body.replace(/\\n/g, \"<br>\") }}", "text": "={{ $json.body }}", "options": {}, "subject": "={{ $json.subject }}", "toEmail": "={{ $json.to }}", "fromEmail": "info@portadirta.com", "emailFormat": "both"}, "credentials": {"smtp": {"id": "UBQjXekY4aJZ94v1", "name": "SMTP — info@portadirta.com"}}, "typeVersion": 2}, {"id": "email-sent-confirm-000000001", "name": "Email Sent Confirm", "type": "n8n-nodes-base.code", "position": [3392, 592], "parameters": {"jsCode": "\nconst sd = $getWorkflowStaticData('global');\nsd.processedEmails = sd.processedEmails || {};\nsd.pendingDrafts   = sd.pendingDrafts   || {};\n\nconst { cbKey, to, chatId } = $('Email Callback Handler').first().json;\n\n// Mark as processed and clean up\nif (cbKey) {\n  sd.processedEmails[cbKey] = { ts: Date.now(), sentTo: to };\n  delete sd.pendingDrafts[cbKey];\n}\ndelete sd.pendingEdit;\n\nconst adminId = chatId || String($env.TELEGRAM_ADMIN_ID);\nreturn [{ json: {\n  chat_id: adminId,\n  text: '\\u2705 Email enviado a ' + to\n} }];\n"}, "typeVersion": 2}, {"id": "telegram-notify-email-000001", "name": "Telegram — Email Notify", "type": "n8n-nodes-base.httpRequest", "position": [3616, 592], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "method": "POST", "options": {}, "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.chat_id || $json.chatId || $env.TELEGRAM_ADMIN_ID,\n  text: $json.text,\n  parse_mode: 'Markdown'\n}) }}", "sendBody": true, "specifyBody": "json"}, "typeVersion": 4}, {"id": "email-router-if-000000001", "name": "Email Callback?", "type": "n8n-nodes-base.if", "position": [2496, 352], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "email-cb-cond-001", "operator": {"type": "string", "operation": "startsWith"}, "leftValue": "={{ $json.callbackData }}", "rightValue": "email_"}]}}, "typeVersion": 2}, {"id": "email-action-if-000000001", "name": "Email Action?", "type": "n8n-nodes-base.if", "position": [2944, 592], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "email-action-cond-001", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json._emailAction }}", "rightValue": "send"}]}}, "typeVersion": 2}, {"id": "pending-edit-check-000000001", "name": "Pending Edit Check", "type": "n8n-nodes-base.code", "position": [1152, 928], "parameters": {"jsCode": "\nconst sd = $getWorkflowStaticData('global');\nconst inp = items[0].json;\nconst text = inp.text || '';\n\n// If there's a pending edit AND this message is not a bot command\nif (sd.pendingEdit && text && !inp.isCallback) {\n  const msgKey = sd.pendingEdit;\n  sd.pendingDrafts = sd.pendingDrafts || {};\n  const draft = sd.pendingDrafts[msgKey];\n\n  if (draft) {\n    // Update the draft body with the new text\n    draft.body = text;\n    delete sd.pendingEdit;\n\n    const adminId = String($env.TELEGRAM_ADMIN_ID);\n    const preview = text.length > 500 ? text.substring(0, 500) + '…' : text;\n    const msg = `📧 *Borrador actualizado*\\n\\n${preview}`;\n\n    // Send re-preview directly via Telegram HTTP API\n    const fetch = require('node-fetch');\n    await fetch(`https://api.telegram.org/bot${$env.TELEGRAM_BOT_TOKEN}/sendMessage`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        chat_id: adminId,\n        text: msg,\n        parse_mode: 'Markdown',\n        reply_markup: { inline_keyboard: [[\n          { text: '✅ Enviar', callback_data: 'email_approve_' + msgKey }\n        ]]}\n      })\n    });\n\n    return []; // Stop — already handled via direct Telegram call\n  }\n}\n\n// Not a pending edit — pass through normally\nreturn items;\n"}, "typeVersion": 2}, {"id": "menu-cmd-if-000000000001", "name": "Menu Command?", "type": "n8n-nodes-base.if", "position": [1600, 1216], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": false, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "menu-cmd-cond-0001", "operator": {"type": "string", "operation": "equals", "singleValue": false}, "leftValue": "={{ ['carta','menu','bebidas'].some(cmd => ($json.text || '').toLowerCase().trimStart().startsWith('/' + cmd)) ? 'yes' : 'no' }}", "rightValue": "yes"}]}}, "typeVersion": 2}, {"id": "menu-route-000000000002", "name": "Route Menu Command", "type": "n8n-nodes-base.code", "position": [1824, 1216], "parameters": {"jsCode": "\nconst { text, chatId, tier } = items[0].json;\nconst lower = (text || '').toLowerCase().trim();\n\nlet menuType = '';\nlet docId = '';\n\nif (lower.startsWith('/carta')) {\n  menuType = 'carta';\n  docId = $env.MENU_CARTA_DOC_ID || '';\n} else if (lower.startsWith('/menu')) {\n  menuType = 'menu';\n  docId = $env.MENU_MENU_DOC_ID || '';\n} else if (lower.startsWith('/bebidas')) {\n  menuType = 'bebidas';\n  docId = $env.MENU_BEBIDAS_DOC_ID || '';\n}\n\nif (!docId || docId.startsWith('REPLACE_')) {\n  return [{ json: {\n    error: `⚠️ No configurado: añade MENU_${menuType.toUpperCase()}_DOC_ID en las variables de entorno de n8n.`,\n    chatId,\n    menuType,\n    isError: true,\n  }}];\n}\n\nreturn [{ json: { menuType, docId, chatId, tier, isError: false } }];\n"}, "typeVersion": 2}, {"id": "menu-fetch-doc-000000003", "name": "Fetch Google Doc", "type": "n8n-nodes-base.httpRequest", "position": [2048, 1216], "parameters": {"url": "=https://docs.google.com/document/d/{{ $json.docId }}/export?format=txt", "options": {"timeout": 20000, "response": {"response": {"responseFormat": "text"}}}}, "typeVersion": 4}, {"id": "menu-build-prompt-000000004", "name": "Build Menu Prompt", "type": "n8n-nodes-base.code", "position": [2272, 1216], "parameters": {"jsCode": "\nconst docText = items[0].json.data || items[0].json.body || '';\nconst { menuType, chatId } = $('Route Menu Command').first().json;\n\nconst cartaSchema = JSON.stringify({\n  updated: \"YYYY-MM-DD\",\n  sections: [{\n    name: \"Section name\",\n    note: \"optional note\",\n    items: [{\n      name: \"Dish name\",\n      description: \"Brief description or empty string\",\n      price: 0.00,\n      allergens: [\"gluten\",\"lácteos\",\"huevo\",\"pescado\",\"crustáceos\",\"moluscos\",\"frutos secos\",\"cacahuetes\",\"soja\",\"sulfitos\",\"mostaza\",\"sésamo\",\"apio\",\"altramuces\"]\n    }]\n  }],\n  translations: { en: { sections: [] }, fr: { sections: [] }, de: { sections: [] } }\n}, null, 2);\n\nconst menuSchema = JSON.stringify({\n  updated: \"YYYY-MM-DD\",\n  name: \"Menú Especial\",\n  price: 35.00,\n  priceNote: \"por persona — pan y agua incluidos\",\n  available: \"Sábados y domingos\",\n  sections: [{\n    name: \"Course name\",\n    choose: true,\n    note: \"optional note\",\n    items: [{ name: \"Dish name\", description: \"\", supplement: null, allergens: [] }]\n  }]\n}, null, 2);\n\nconst bebidasSchema = JSON.stringify({\n  updated: \"YYYY-MM-DD\",\n  sections: [{\n    name: \"Section name\",\n    items: [{ name: \"Item name\", description: \"\", price: 0.00, unit: \"copa or botella or null\" }]\n  }]\n}, null, 2);\n\nconst prompts = {\n  carta: `You are a structured data extractor for a Spanish restaurant menu.\n\nConvert the following raw text (from a Google Doc) into a valid JSON object matching this exact schema:\n${cartaSchema}\n\nRules:\n- Prices are always numbers (no € symbol)\n- If no description exists, use \"\"\n- Allergens: identify from dish name/ingredients. Use only these keys: gluten, lácteos, huevo, pescado, crustáceos, moluscos, frutos secos, cacahuetes, soja, sulfitos, mostaza, sésamo, apio, altramuces\n- Keep original Spanish names exactly as written\n- Add translations object with EN/FR/DE versions of section names and item name/description only\n- Set updated to today's date (${new Date().toISOString().split('T')[0]})\n- Return ONLY the JSON, no explanation, no markdown fences`,\n\n  menu: `You are a structured data extractor for a Spanish restaurant set menu.\n\nConvert the following raw text into a valid JSON object matching this exact schema:\n${menuSchema}\n\nRules:\n- Extract the fixed price (number only, no € symbol)\n- Extract available days/times from the text if present\n- Identify what is included (bread, water, wine, etc.) for priceNote\n- Keep course sections in order as they appear\n- Set choose: true for courses where guests choose between options\n- For items with a surcharge, set supplement to the amount as a number (e.g. 3.00), otherwise null\n- Allergens: identify from dish name/ingredients using these keys only: gluten, lácteos, huevo, pescado, crustáceos, moluscos, frutos secos, cacahuetes, soja, sulfitos, mostaza, sésamo, apio, altramuces\n- Set updated to today's date (${new Date().toISOString().split('T')[0]})\n- Return ONLY the JSON, no explanation, no markdown fences`,\n\n  bebidas: `You are a structured data extractor for a Spanish restaurant drinks list.\n\nConvert the following raw text into a valid JSON object matching this exact schema:\n${bebidasSchema}\n\nRules:\n- Prices are always numbers (no € symbol)\n- unit should be \"copa\", \"botella\", or null if not applicable\n- If no description exists, use \"\"\n- Group items into logical sections (Vinos Blancos, Vinos Tintos, Vinos Rosados, Cervezas, Refrescos & Agua, Cafés & Infusiones, etc.)\n- Set updated to today's date (${new Date().toISOString().split('T')[0]})\n- Return ONLY the JSON, no explanation, no markdown fences`\n};\n\nreturn [{ json: {\n  prompt: prompts[menuType] + '\\n\\nMENU TEXT:\\n' + docText,\n  menuType,\n  chatId,\n} }];\n"}, "typeVersion": 2}, {"id": "menu-claude-parse-000000005", "name": "Claude — Parse Menu", "type": "n8n-nodes-base.httpRequest", "position": [2496, 1216], "parameters": {"url": "https://api.anthropic.com/v1/messages", "method": "POST", "options": {"timeout": 60000}, "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }]\n}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}}, "typeVersion": 4}, {"id": "menu-extract-json-000000006", "name": "Extract Menu JSON", "type": "n8n-nodes-base.code", "position": [2720, 1216], "parameters": {"jsCode": "\nconst raw = items[0].json.content?.[0]?.text || '';\nconst { menuType, chatId } = $('Build Menu Prompt').first().json;\n\n// Strip markdown fences if Claude added them\nconst cleaned = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{ json: {\n    isError: true,\n    error: `❌ Claude devolvió JSON inválido para /${menuType}. Error: ${e.message}\\n\\nRespuesta raw (primeros 200 chars):\\n${raw.slice(0, 200)}`,\n    chatId,\n    menuType,\n  }}];\n}\n\nreturn [{ json: { parsed, menuType, chatId, isError: false } }];\n"}, "typeVersion": 2}, {"id": "menu-error-check-000000007", "name": "Menu Parse OK?", "type": "n8n-nodes-base.if", "position": [2944, 1216], "parameters": {"options": {}, "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "menu-ok-cond-0001", "operator": {"type": "boolean", "operation": "notEquals"}, "leftValue": "={{ $json.isError }}", "rightValue": true}]}}, "typeVersion": 2}, {"id": "menu-save-proxy-000000008", "name": "Save Menu to Proxy", "type": "n8n-nodes-base.httpRequest", "position": [3168, 1216], "parameters": {"url": "=http://restaurant/api/internal/menu/{{ $json.menuType }}", "method": "POST", "options": {"timeout": 15000}, "jsonBody": "={{ JSON.stringify($json.parsed) }}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "X-Internal-Token", "value": "portadirta-n8n-2026"}]}}, "typeVersion": 4}, {"id": "menu-telegram-ok-000000009", "name": "Telegram — Menu Updated", "type": "n8n-nodes-base.httpRequest", "position": [3392, 1216], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "method": "POST", "options": {"timeout": 10000}, "jsonBody": "={{ JSON.stringify({ chat_id: $('Extract Menu JSON').first().json.chatId, text: '\\u2705 *' + ({carta:'Carta',menu:'Men\\u00fa Especial',bebidas:'Bebidas'}[$('Extract Menu JSON').first().json.menuType] || $('Extract Menu JSON').first().json.menuType) + ' actualizada*\\n\\ud83d\\udcc5 ' + ($('Extract Menu JSON').first().json.parsed?.updated || new Date().toISOString().split('T')[0]) + ' \\u00b7 ' + ($('Extract Menu JSON').first().json.parsed?.sections?.length || 0) + ' secciones\\n\\ud83c\\udf10 portadirta.com/' + $('Extract Menu JSON').first().json.menuType, parse_mode: 'Markdown' }) }}", "sendBody": true, "specifyBody": "json"}, "typeVersion": 4}, {"id": "menu-telegram-err-000000010", "name": "Telegram — Menu Error", "type": "n8n-nodes-base.httpRequest", "position": [3168, 1408], "parameters": {"url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "method": "POST", "options": {"timeout": 10000}, "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.error || '\\u274c Error desconocido al actualizar el men\\u00fa.' }) }}", "sendBody": true, "specifyBody": "json"}, "typeVersion": 4}, {"id": "parse-classify-result-001", "name": "Parse Classify Result", "type": "n8n-nodes-base.code", "position": [928, 1856], "parameters": {"jsCode": "const sd = $getWorkflowStaticData('global');\nconst raw = items[0].json.content?.[0]?.text || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/^```json\\s*/i,'').replace(/```\\s*$/,'').trim());\n} catch(e) {\n  parsed = { intent: 'other', language: 'es' };\n}\nconst email = $('Email Idempotency').first().json;\nreturn [{ json: {\n  msgKey:           email.msgKey,\n  from:             email.from,\n  subject:          email.subject,\n  bodyText:         email.bodyText,\n  intent:           parsed.intent          || 'other',\n  language:         parsed.language         || 'es',\n  senderName:       parsed.senderName       || null,\n  checkIn:          parsed.checkIn           || null,\n  checkOut:         parsed.checkOut          || null,\n  guests:           parsed.guests            || null,\n  restaurantDate:   parsed.restaurantDate    || null,\n  restaurantGuests: parsed.restaurantGuests  || null,\n} }];\n"}, "typeVersion": 2}, {"id": "fetch-restaurant-context-001", "name": "Fetch Restaurant Context", "type": "n8n-nodes-base.httpRequest", "onError": "continueErrorOutput", "position": [1152, 1856], "parameters": {"url": "=https://restaurant.hobbitonranch.com/api/internal/availability?date={{ $json.restaurantDate || new Date().toISOString().split('T')[0] }}&guests={{ $json.restaurantGuests || 2 }}", "method": "GET", "options": {"timeout": 8000}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "X-Internal-Token", "value": "portadirta-n8n-2026"}]}}, "typeVersion": 4}, {"id": "build-draft-prompt-001", "name": "Build Draft Prompt", "type": "n8n-nodes-base.code", "position": [1376, 1856], "parameters": {"jsCode": "const classify = $('Parse Classify Result').first().json;\nconst fetchResult = items[0].json;\n\n// Build availability context note\nlet contextNote = 'disponibilidad del restaurante no consultada en tiempo real';\nif (fetchResult && fetchResult.success === true) {\n  const status = fetchResult.available\n    ? 'hay disponibilidad'\n    : 'COMPLETO — no hay plazas libres';\n  contextNote = 'Restaurante el ' + fetchResult.date + ': ' + status\n    + ' (' + fetchResult.bookedSeats + ' de ' + fetchResult.capacity + ' plazas ocupadas)';\n}\n\nconst roomInfo =\n  'Torre Badum: suite con terraza privada, vistas al Castillo Papal y al Mediterráneo, 2 personas, desde 180€/noche.\\n'\n  + 'Cala El Pebret: habitación con jardín y vistas a la naturaleza, 2 personas, desde 120€/noche.\\n'\n  + 'Cala Aljub: habitación con vistas a la piscina, 2 personas, desde 120€/noche.\\n'\n  + 'Ermita Sant Antoni: habitación con vistas a la Sierra de Irta, 2 personas, desde 120€/noche.';\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst systemPrompt =\n  'Eres el asistente de email de Porta D\\'irta, hotel boutique en Peñíscola (Costa del Azahar, España).\\n'\n  + 'Redacta una respuesta al email del huésped: cálida, mediterránea, profesional.\\n'\n  + 'Firma siempre como \"El equipo de Porta D\\'irta\".\\n'\n  + 'Responde en el mismo idioma que el remitente.\\n'\n  + 'Si tienes datos de disponibilidad, úsalos. Si no, sé honesto y di que confirmaremos.\\n\\n'\n  + 'HABITACIONES:\\n' + roomInfo + '\\n\\n'\n  + 'RESTAURANTE: cocina mediterránea, almuerzo 13:00–16:00, cena 20:00–22:00, martes a domingo.\\n'\n  + 'Capacidad: 75 comensales. Reservas recomendadas.\\n\\n'\n  + 'CONTACTO: +34 644 026 066 · info@portadirta.com · Camí del Pebret s/n, 12598 Peñíscola.\\n\\n'\n  + 'DATOS EXTRAÍDOS DEL EMAIL:\\n'\n  + 'Intent: ' + classify.intent + '\\n'\n  + 'Remitente: ' + (classify.senderName || classify.from) + '\\n'\n  + (classify.checkIn          ? 'Check-in solicitado: '         + classify.checkIn          + '\\n' : '')\n  + (classify.checkOut         ? 'Check-out solicitado: '        + classify.checkOut         + '\\n' : '')\n  + (classify.guests           ? 'Huéspedes: '                   + classify.guests           + '\\n' : '')\n  + (classify.restaurantDate   ? 'Fecha restaurante solicitada: '+ classify.restaurantDate   + '\\n' : '')\n  + (classify.restaurantGuests ? 'Comensales: '                  + classify.restaurantGuests + '\\n' : '')\n  + '\\nCONTEXTO EN TIEMPO REAL: ' + contextNote + '\\n\\n'\n  + 'EMAIL ORIGINAL:\\n'\n  + 'De: '      + classify.from    + '\\n'\n  + 'Asunto: '  + classify.subject + '\\n'\n  + 'Cuerpo:\\n' + classify.bodyText + '\\n\\n'\n  + 'Devuelve ÚNICAMENTE JSON válido (sin markdown):\\n'\n  + '{\\n'\n  + '  \"draftSubject\": \"Re: <asunto>\",\\n'\n  + '  \"draftBody\": \"<respuesta completa>\"\\n'\n  + '}\\n'\n  + 'Fecha de hoy: ' + today;\n\nconst apiBody = JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: systemPrompt }]\n});\n\nreturn [{ json: { apiBody, classify, contextNote } }];\n"}, "typeVersion": 2}, {"id": "claude-generate-draft-001", "name": "Claude — Generate Draft", "type": "n8n-nodes-base.httpRequest", "position": [1600, 1856], "parameters": {"url": "https://api.anthropic.com/v1/messages", "method": "POST", "options": {"timeout": 30000}, "jsonBody": "={{ $json.apiBody }}", "sendBody": true, "sendHeaders": true, "specifyBody": "json", "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}}, "typeVersion": 4}],"connections":{"Audit Log": {"main": [[{"node": "Telegram — Result", "type": "main", "index": 0}]]}, "Authorized?": {"main": [[{"node": "Callback or Message?", "type": "main", "index": 0}], []]}, "IMAP Trigger": {"main": [[{"node": "Email Idempotency", "type": "main", "index": 0}]]}, "Email Action?": {"main": [[{"node": "SMTP — Send Email", "type": "main", "index": 0}], [{"node": "Telegram — Email Notify", "type": "main", "index": 0}]]}, "Has API Call?": {"main": [[{"node": "Refresh Beds24 Token", "type": "main", "index": 0}], [{"node": "Direct Action Handler", "type": "main", "index": 0}]]}, "Menu Command?": {"main": [[{"node": "Route Menu Command", "type": "main", "index": 0}], [{"node": "Prepare Claude Prompt", "type": "main", "index": 0}]]}, "Menu Parse OK?": {"main": [[{"node": "Save Menu to Proxy", "type": "main", "index": 0}], [{"node": "Telegram — Menu Error", "type": "main", "index": 0}]]}, "Voice or Text?": {"main": [[{"node": "Get Voice File Path", "type": "main", "index": 0}], [{"node": "Menu Command?", "type": "main", "index": 0}]]}, "Email Callback?": {"main": [[{"node": "Email Callback Handler", "type": "main", "index": 0}], [{"node": "Handle Confirm/Cancel", "type": "main", "index": 0}]]}, "Format Response": {"main": [[{"node": "Naturalize Response", "type": "main", "index": 0}]]}, "Identity Router": {"main": [[{"node": "Authorized?", "type": "main", "index": 0}]]}, "Prepare Request": {"main": [[{"node": "Build Beds24 Payload v2", "type": "main", "index": 0}]]}, "Fetch Google Doc": {"main": [[{"node": "Build Menu Prompt", "type": "main", "index": 0}]]}, "Schema Validator": {"main": [[{"node": "Validation Error?", "type": "main", "index": 0}]]}, "Telegram Trigger": {"main": [[{"node": "Identity Router", "type": "main", "index": 0}]]}, "Build Menu Prompt": {"main": [[{"node": "Claude — Parse Menu", "type": "main", "index": 0}]]}, "Email Idempotency": {"main": [[{"node": "Claude — Parse Intent", "type": "main", "index": 0}]]}, "Extract Menu JSON": {"main": [[{"node": "Menu Parse OK?", "type": "main", "index": 0}]]}, "Pack Natural Text": {"main": [[{"node": "Audit Log", "type": "main", "index": 0}]]}, "Validation Error?": {"main": [[{"node": "Telegram — Validation Error", "type": "main", "index": 0}], [{"node": "Has API Call?", "type": "main", "index": 0}]]}, "Build Draft Prompt": {"main": [[{"node": "Claude — Generate Draft", "type": "main", "index": 0}]]}, "Email Sent Confirm": {"main": [[{"node": "Telegram — Email Notify", "type": "main", "index": 0}]]}, "Pending Edit Check": {"main": [[{"node": "Voice or Text?", "type": "main", "index": 0}]]}, "Route Menu Command": {"main": [[{"node": "Fetch Google Doc", "type": "main", "index": 0}]]}, "Save Menu to Proxy": {"main": [[{"node": "Telegram — Menu Updated", "type": "main", "index": 0}]]}, "Execute API Call v2": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}, "Get Voice File Path": {"main": [[{"node": "Download & Encode Voice", "type": "main", "index": 0}]]}, "Naturalize Response": {"main": [[{"node": "Pack Natural Text", "type": "main", "index": 0}]]}, "SMTP — Send Email": {"main": [[{"node": "Email Sent Confirm", "type": "main", "index": 0}]]}, "Callback or Message?": {"main": [[{"node": "Email Callback?", "type": "main", "index": 0}], [{"node": "Pending Edit Check", "type": "main", "index": 0}]]}, "Refresh Beds24 Token": {"main": [[{"node": "Prepare Request", "type": "main", "index": 0}]]}, "Claude — Parse Menu": {"main": [[{"node": "Extract Menu JSON", "type": "main", "index": 0}]]}, "Direct Action Handler": {"main": [[{"node": "Audit Log", "type": "main", "index": 0}]]}, "Email Store + Preview": {"main": [[{"node": "Telegram — Email Preview", "type": "main", "index": 0}]]}, "Handle Confirm/Cancel": {"main": [[{"node": "Refresh Beds24 Token", "type": "main", "index": 0}], [{"node": "Telegram — Cancelled", "type": "main", "index": 0}]]}, "Parse Classify Result": {"main": [[{"node": "Fetch Restaurant Context", "type": "main", "index": 0}]]}, "Prepare Claude Prompt": {"main": [[{"node": "Gemini — Text Intent", "type": "main", "index": 0}]]}, "Email Callback Handler": {"main": [[{"node": "Email Action?", "type": "main", "index": 0}]]}, "Gemini — Text Intent": {"main": [[{"node": "Schema Validator", "type": "main", "index": 0}]]}, "Build Beds24 Payload v2": {"main": [[{"node": "Execute API Call v2", "type": "main", "index": 0}]]}, "Claude — Parse Intent": {"main": [[{"node": "Parse Classify Result", "type": "main", "index": 0}]]}, "Download & Encode Voice": {"main": [[{"node": "Gemini — Voice (transcribe + intent)", "type": "main", "index": 0}]]}, "Fetch Restaurant Context": {"main": [[{"node": "Build Draft Prompt", "type": "main", "index": 0}], [{"node": "Build Draft Prompt", "type": "main", "index": 0}]]}, "Claude — Generate Draft": {"main": [[{"node": "Email Store + Preview", "type": "main", "index": 0}]]}, "Gemini — Voice (transcribe + intent)": {"main": [[{"node": "Schema Validator", "type": "main", "index": 0}]]}}}
